<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin-Mapper">

	<select id="ID_CHECK" resultType="int" parameterType="hashMap">
		SELECT  COUNT(USER_ID)
		  FROM  jungnangurp.EMP
		 WHERE  USER_ID = #{input_id}
	</select>
	
	
	<select id="ID_PASS_CHECK" resultType="int" parameterType="hashMap">
		SELECT  COUNT(USER_ID)
		  FROM  jungnangurp.EMP
		 WHERE  USER_ID 		= #{input_id}
		   AND	USER_PASSWORD	= #{input_password}
	</select>
	
	<insert id="SAVE_LOGIN_LOG" parameterType="hashMap">
		INSERT INTO jungnangurp.LOGIN_LOG
		(
			LOG_ID,
			LOG_IP,
			LOG_DATE
		)
		VALUES
		(
			#{input_id},
			#{input_ip},
			SYSDATE()
		)
	</insert>
	
	<select id="GET_EMP_INFO" resultType="empVO" parameterType="hashMap">
		SELECT  USER_NO,
						USER_ID,
				    USER_NAME,
				    USER_RIGHT
		  FROM  jungnangurp.EMP
		 WHERE	USER_ID = #{input_id}
	</select>
	
	<select id="GET_EMP_SECRET_INFO" resultType="empVO" parameterType="hashMap">
		SELECT  USER_PASSWORD,
				SECRET_KEY
		  FROM  jungnangurp.EMP
		 WHERE	USER_ID = #{input_id}
	</select>
	
	<select id="LOOKUP_CONNECT" resultType="int" parameterType="hashMap">
		SELECT	COUNT(*)
		  FROM	jungnangurp.CONNECT_RECORD
		 WHERE	CONNECT_IP = #{ipAdress}
		   AND	CONNECT_DATE = #{currentDate}
	</select>
	
	<insert id="ADD_CONNECT" parameterType="hashMap">
		INSERT INTO jungnangurp.CONNECT_RECORD
		VALUES
		(
			#{ipAdress}, #{currentDate}, #{os}, SYSDATE()
		);
	</insert>
	
	
</mapper>