<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminCollusion-Mapper">
	
	<select id="GET_COUNT" resultType="int" parameterType="hashMap">
		SELECT	COUNT(B_NO)
		  FROM	jungnangurp.BOARD_COLLUSION
		 WHERE	B_USE_YN = 1
		 		 <if test="searchType == '제목'.toString()">
		   AND	B_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
		   		</if>
		   		 <if test="searchType == '작성자'.toString()">
		   AND	(SELECT	USER_NAME
		           FROM	jungnangurp.EMP
		          WHERE USER_NO = B_AUTHOR) LIKE CONCAT('%', #{searchKeyword}, '%')
		   		</if>
	</select>
	
	<select id="GET_BOARD_DATA" resultType="boardVO" parameterType="int">
		SELECT  B_NO,
				B_TITLE,
				B_DESCRIPTION,
				(
					SELECT	Z.USER_NAME
					  FROM 	jungnangurp.EMP	Z
					 WHERE  B_AUTHOR = Z.USER_NO
				) AS B_AUTHOR, 
				DATE_FORMAT(B_CREATE_TIME, '%Y/%m/%d/ %H:%i') AS B_CREATE_TIME,
				DATE_FORMAT(B_UPLOAD_TIME, '%Y/%m/%d/ %H:%i') AS B_UPLOAD_TIME,
				B_AUTHOR_NONE,
				B_HIT,
				B_NOTICE,
				B_USE_YN,
				B_TYPE,
				B_DELETE_TIME
		  FROM	jungnangurp.BOARD_COLLUSION
		 ORDER	BY B_NO DESC
		 LIMIT 	10 OFFSET #{paging}
	</select>
	
	
	<update id="MODIFY_NOTICE1" parameterType="int">
		UPDATE	jungnangurp.BOARD_COLLUSION
		   SET	B_NOTICE = 1
		 WHERE  B_NO = #{no}
	</update>
	
	<update id="MODIFY_NOTICE2" parameterType="int">
		UPDATE	jungnangurp.BOARD_COLLUSION
		   SET	B_NOTICE = 0
		 WHERE  B_NO = #{no}
	</update>
	
	<update id="REMOVE_DATA" parameterType="int">
		UPDATE	jungnangurp.BOARD_COLLUSION
		   SET	B_USE_YN = 0,
		   		B_DELETE_TIME = SYSDATE()
		 WHERE  B_NO = #{no}
		 
	</update>
	
	
	<select id="GET_SEARCH" resultType="boardVO" parameterType="hashMap">
		SELECT	B_NO,
				B_TITLE,
				B_DESCRIPTION,
				 (
					SELECT	Z.USER_NAME
					  FROM 	jungnangurp.EMP	Z
					 WHERE  B_AUTHOR = Z.USER_NO
				) AS B_AUTHOR, 
				DATE_FORMAT(B_CREATE_TIME, '%Y/%m/%d %H:%i:%S') AS B_CREATE_TIME,
				DATE_FORMAT(B_UPLOAD_TIME, '%Y/%m/%d %H:%i:%S') AS B_UPLOAD_TIME,
				B_AUTHOR_NONE,
				B_HIT,
				B_NOTICE,
				B_USE_YN,
				B_TYPE,
				B_DELETE_TIME
		  FROM	jungnangurp.BOARD_COLLUSION
		 WHERE	1=1
		 		 <if test="searchType == '제목'.toString()">
		   AND	B_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
		   		</if>
		   		 <if test="searchType == '작성자'.toString()">
		   AND	(SELECT	USER_NAME
		           FROM	jungnangurp.EMP
		          WHERE USER_NO = B_AUTHOR) LIKE CONCAT('%', #{searchKeyword}, '%')
		   		</if>
		 ORDER	BY B_NO DESC
		 LIMIT	10 OFFSET ${paging}
	</select>
	
	
	
	<select id="GET_COMMENT_BY_ID" parameterType="int" resultType="commentsVO">
		SELECT	CO_NO,
				CO_BOARD_TYPE,
		        CO_PARENT_NO,
		        CO_DESCRIPTION,
		        CO_CREATE_TIME,
		        CO_USE_YN,
		        (
		        	SELECT	USER_NAME
		        	  FROM	jungnangurp.EMP
		        	 WHERE	USER_NO = CO_AUTHOR
		        ) AS CO_AUTHOR
		  FROM	jungnangurp.COMMENTS
		 WHERE	CO_BOARD_TYPE = 'COLLUSION'
		   AND 	CO_PARENT_NO = #{p_no}
		 ORDER	BY CO_CREATE_TIME ASC
	</select>
	
	
	<update id="REMOVE_COMMENT" parameterType="int">
		UPDATE	jungnangurp.COMMENTS
		   SET	CO_USE_YN = 0
		 WHERE	CO_NO = #{co_no}
	</update>
	
	
	<select id="GET_RIGHT" resultType="commonVO" parameterType="str">
		SELECT 	DETAIL_CODE,
				VAL
		  FROM	jungnangurp.COMMON
		 WHERE	CODE = 'RG_01'
		 ORDER	BY	DETAIL_CODE ASC
	</select>
	
	<select id="GET_CURRENT_RIGHT" resultType="accept_typeVO">
		SELECT  VIEW_RIGHT,
				WRITE_RIGHT
		  FROM	jungnangurp.ACCEPT_RIGHT
		 WHERE	BOARD_TYPE = 'COLLUSION'
	</select>
	
	<update id="MODIFY_RIGHT" parameterType="hashMap">
		UPDATE	jungnangurp.ACCEPT_RIGHT
		   SET	VIEW_RIGHT = ${read},
				WRITE_RIGHT = ${write}
		 WHERE	BOARD_TYPE = 'COLLUSION'
	</update>
	
	<select id="GET_ADMIN_CONTROLL_RIGHT" resultType="int">
		SELECT	BOARD_CONTROLL_RIGHT
		  FROM	jungnangurp.ACCEPT_RIGHT
		 WHERE	BOARD_TYPE = 'COLLUSION'
	</select>
	
	
</mapper>