<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Collusion-Mapper">

	<select id="GET_COLLUSION_LIST" resultType="boardVO" parameterType="int">
		SELECT  *  
			FROM  ( 
		          SELECT  @ROWNUM:=@ROWNUM+1 as ROWNUM,
									    B_NO, 
									    B_TITLE,
									    B_DESCRIPTION,
									    (
										    SELECT  Z.USER_NAME
										    FROM  JR_DB.EMP Z
										    WHERE  B_AUTHOR = Z.USER_NO
									    ) AS B_AUTHOR,
									    DATE_FORMAT(B_CREATE_TIME, '%Y-%m-%d') AS B_CREATE_TIME,
									    DATE_FORMAT(B_UPLOAD_TIME, '%Y-%m-%d') AS B_UPLOAD_TIME,
									    DATE_FORMAT(B_DELETE_TIME, '%Y-%m-%d') AS B_DELETE_TIME,
									    B_HIT,
									    B_NOTICE,
									    B_USE_YN,
									    B_TYPE
					      FROM  JR_DB.BOARD_COLLUSION A,
					            ( SELECT @ROWNUM:=0 ) R
					              WHERE  B_USE_YN = 1
					              ORDER  BY B_NOTICE DESC,
					              B_NO ASC
	              ) Z
        ORDER  BY ROWNUM DESC
				LIMIT  10 OFFSET #{paging}
	</select>
	
	<sql id="search">
      <if test="searchType != null and searchType != ''">
          <if test="searchType == 'title'.toString()">
              AND B_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
          </if>
          <if test="searchType == 'desc'.toString()">
              AND B_DESCRIPTION LIKE CONCAT('%', #{searchKeyword}, '%')
          </if>
          <if test="searchType == 'all'.toString()">
              AND ( B_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
               OR   B_DESCRIPTION LIKE CONCAT('%', #{searchKeyword}, '%') )
          </if>
      </if>
  </sql>

	<select id="GET_COLLUSION_SEARCH_LIST" resultType="boardVO" parameterType="hashMap">
		SELECT  *  
			FROM  ( 
		          SELECT  @ROWNUM:=@ROWNUM+1 as ROWNUM,
									    B_NO, 
									    B_TITLE,
									    B_DESCRIPTION,
									    (
										    SELECT  Z.USER_NAME
										    FROM  JR_DB.EMP Z
										    WHERE  B_AUTHOR = Z.USER_NO
									    ) AS B_AUTHOR,
									    DATE_FORMAT(B_CREATE_TIME, '%Y-%m-%d') AS B_CREATE_TIME,
									    DATE_FORMAT(B_UPLOAD_TIME, '%Y-%m-%d') AS B_UPLOAD_TIME,
									    DATE_FORMAT(B_DELETE_TIME, '%Y-%m-%d') AS B_DELETE_TIME,
									    B_HIT,
									    B_NOTICE,
									    B_USE_YN,
									    B_TYPE
					      FROM  JR_DB.BOARD_COLLUSION A,
					            ( SELECT @ROWNUM:=0 ) R
					              WHERE  B_USE_YN = 1
					              ORDER  BY B_NOTICE DESC,
					              B_NO ASC
	              ) Z
	             WHERE  1 = 1
	             <include refid="search"></include>
        ORDER  BY ROWNUM DESC
				LIMIT  10 OFFSET ${paging}
	</select>
	
	<select id="GET_LIST_COUNT" resultType="int">
		SELECT	COUNT(B_NO)
		  FROM	JR_DB.BOARD_COLLUSION
		 WHERE  B_USE_YN = 1
	</select>
	
	<select id="GET_SEARCH_LIST_COUNT" resultType="int" parameterType="hashMap">
		SELECT	COUNT(B_NO)
		  FROM	JR_DB.BOARD_COLLUSION
		 WHERE  B_USE_YN = 1
		 <include refid="search"></include>
	</select>
	
	<select id="GET_BOARD_TYPE" resultType="str">
		SELECT	B_TYPE
		  FROM	JR_DB.BOARD_COLLUSION
		 WHERE  B_USE_YN = 1
		   AND  B_TYPE IS NOT NULL
		 LIMIT  1
	</select>
	
	<select id="GET_COLLUSION" resultType="boardVO" parameterType="int">
		SELECT  B_NO,
						B_TITLE,
						B_DESCRIPTION,
						(
							SELECT  Z.USER_NAME
							  FROM  JR_DB.EMP Z
							 WHERE  B_AUTHOR = Z.USER_NO
						) AS B_AUTHOR,
						DATE_FORMAT(B_CREATE_TIME, '%Y-%m-%d') AS B_CREATE_TIME,
						DATE_FORMAT(B_UPLOAD_TIME, '%Y-%m-%d') AS B_UPLOAD_TIME,
						DATE_FORMAT(B_DELETE_TIME, '%Y-%m-%d') AS B_DELETE_TIME,
						B_HIT,
						B_NOTICE,
						B_USE_YN,
						B_TYPE
		  FROM  JR_DB.BOARD_COLLUSION
		 WHERE  B_NO = #{b_no}
		   AND  B_USE_YN = 1
	</select>
	
	<select id="GET_PREV_COLLUSION" resultType="boardVO" parameterType="int">
		<![CDATA[
		SELECT  B_NO,
		        B_TITLE,
		        B_TYPE
		  FROM  JR_DB.BOARD_COLLUSION
		 WHERE  B_NO < #{b_no}
		 ORDER  BY B_NO DESC
		 LIMIT  1
	  ]]>
	</select>
	
	<select id="GET_NEXT_COLLUSION" resultType="boardVO" parameterType="int">
		<![CDATA[
		SELECT  B_NO,
		        B_TITLE,
		        B_TYPE
		  FROM  JR_DB.BOARD_COLLUSION
		 WHERE  B_NO > #{b_no}
		 ORDER  BY B_NO ASC
		 LIMIT  1
	  ]]>
	</select>
	
	<update id="MODIFY_HIT_UP" parameterType="int">
		UPDATE  JR_DB.BOARD_COLLUSION
		   SET  B_HIT = B_HIT + 1
		 WHERE  B_NO = #{b_no}
	</update>
	
</mapper>