<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Common-Mapper">

	<select id="selectCommonList" resultType="commonVO">
		SELECT	*
		  FROM	JR_DB.COMMON
	</select>
	
	<select id="GET_MENU" resultType="commonVO">
		SELECT  CODE,
		        DETAIL_CODE,
		        PARENT_CODE,
		        VAL,
		        URL
		  FROM  JR_DB.COMMON
		 WHERE  CODE 	= 'NM_01'
		   AND	USE_YN 	= 1 
		 ORDER	BY DETAIL_CODE ASC
	</select>
	
	<select id="GET_SUB_MENU" resultType="commonVO">
		SELECT  CODE,
		        DETAIL_CODE,
		        PARENT_CODE,
		        VAL,
		        URL,
		        USE_YN
		  FROM  JR_DB.COMMON
		 WHERE  CODE = 'NM_02'
		   AND	USE_YN 	= 1 
		 ORDER	BY DETAIL_CODE ASC
	</select>
	
	<select id="GET_DETAIL_MENU" resultType="commonVO">
		SELECT  CODE,
		        DETAIL_CODE,
		        PARENT_CODE,
		        VAL,
		        URL,
		        USE_YN
		  FROM  JR_DB.COMMON
		 WHERE  CODE = 'NM_03'
		   AND	USE_YN 	= 1 
		 ORDER	BY DETAIL_CODE ASC
	</select>
	
	<select id="GET_COMBO_DATA" resultType="commonVO" parameterType="str">
		SELECT	DETAIL_CODE,
				VAL
		  FROM	JR_DB.COMMON
		 WHERE	CODE = #{code}
		 ORDER	BY	DETAIL_CODE ASC
	
	</select>
	
	
	<select id="GET_USED_POPUP" resultType="popupVO">
		SELECT	POPUP_NAME,
				POPUP_WIDTH,
				POPUP_HEIGHT,
				POPUP_PATH,
				POPUP_DESC,
		        POPUP_USE
		  FROM 	JR_DB.POPUP
		 WHERE	POPUP_USE = '1'
	</select>
	
	
</mapper>