<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Employee-Mapper">

	<select id="GET_EMP_LIST_FOR_MAIL" resultType="empVO" parameterType="str">
		SELECT   A.USER_EMAIL
		  FROM
		  	 (
		         SELECT   USER_EMAIL,
		               	  USER_RIGHT
		           FROM   JR_DB.EMP
		          <![CDATA[
		          WHERE   USER_RIGHT <=    (
						                              SELECT    BOARD_CONTROLL_RIGHT
						                                FROM   JR_DB.ACCEPT_RIGHT
						                               WHERE   BOARD_TYPE = #{BOARD_TYPE}
						                           )
              ]]>
		      )  A
		  WHERE  USER_RIGHT != 1;
	</select>


	<select id="DUPLE_CHECK_ID" resultType="int" parameterType="str">
		SELECT	COUNT(*)
		  FROM	JR_DB.EMP
		 WHERE	USER_ID = #{joinId}
	</select>
	
	
	<insert id="SET_EMP" parameterType="hashMap">
		INSERT INTO JR_DB.EMP
		(
			USER_ID,
			USER_PASSWORD,
			USER_NAME,
			USER_RIGHT,
			USER_TEL,
			
			USER_MOBILE,
			USER_EMAIL,
			SECRET_KEY,
			USER_ZONECODE,
			USER_ADDR1,
			
			USER_ADDR2,
			USER_REGNO1,
			USER_REGNO2,
			USER_GENDER
		)
		VALUES
		(
			#{joinId},
			#{joinPassword},
			#{joinName},
			4,
			#{joinTel},
			
			#{joinMobile},
			#{joinEmail},
			#{secretKey},
			#{joinZonecode},
			#{joinAddr1},
			
			#{joinAddr2},
			'000000',
			'0000000',
			'1'
		)
	</insert>
	
	
	<select id="LOGIN_USER"  resultType="empVO" parameterType="hashMap">
		SELECT	USER_ID,
				USER_NAME,
				USER_RIGHT,
				USER_LOGIN_TRY
		  FROM	JR_DB.EMP
		 WHERE	USER_ID = #{input_id}
		   AND	USER_PASSWORD = #{input_password}
	</select>
	
	<update id="MODIFY_LOGIN_TRY" parameterType="str">
		UPDATE 	JR_DB.EMP
		   SET	USER_LOGIN_TRY = 0
		 WHERE	USER_ID = #{input_id}
	</update>
	
	<select id="GET_MYPAGE_INFO" parameterType="str" resultType="empVO">
		SELECT	A.USER_ID
				, A.USER_NAME
				, A.USER_REGNO1
				, (
					SELECT	VAL
					  FROM	JR_DB.COMMON
					 WHERE	CODE = 'RG_01'
					   AND	DETAIL_CODE = A.USER_RIGHT	
				) AS USER_RIGHT
				, A.USER_EMAIL
				, A.USER_EMAIL_KEY
				, A.USER_TEL
				, A.USER_MOBILE
				, A.USER_ZONECODE
				, A.USER_ADDR1
				, A.USER_ADDR2
		  FROM	JR_DB.EMP	A
		 WHERE	USER_ID = #{input_id}
	</select>
	
	
	<update id="MODIFY_USER_INFO" parameterType="hashMap">
		UPDATE	JR_DB.EMP
		   SET	USER_TEL 		= #{tel},
		   		USER_MOBILE 	= #{mobile},
		   		USER_EMAIL		= #{email},
		   		USER_ZONECODE	= #{zoneCode},
		   		USER_ADDR1		= #{addr1},
		   		USER_ADDR2		= #{addr2}
		 WHERE	USER_ID			= #{id}
	</update>
	
	
	<select id="GET_FIND_ID_TYPE1" parameterType="hashMap" resultType="str">
		SELECT	USER_ID
		  FROM	JR_DB.EMP
		 WHERE	USER_NAME 	= #{userName}
		   AND	USER_REGNO1 = #{userReg}
		   AND	USER_MOBILE = #{userMobile}
	</select>
	
	<select id="GET_FIND_PW_TYPE1" parameterType="hashMap" resultType="str">
		SELECT	USER_ID
		  FROM	JR_DB.EMP
		 WHERE	USER_ID 	= #{userId}
		   AND	USER_REGNO1 = #{userReg}
		   AND	USER_EMAIL = #{userEmail}
	</select>
	
	<update id="MODIFY_EMAIL_KEY" parameterType="hashMap">
		UPDATE  JR_DB.EMP
			 SET	USER_EMAIL_KEY = #{emailKey}
		 WHERE	USER_ID = #{userId}
	</update>
	
	<select id="GET_FIND_ID_TYPE2" parameterType="hashMap" resultType="str">
		SELECT	USER_ID
		  FROM	JR_DB.EMP
		 WHERE	USER_NAME 	= #{userName}
		   AND	USER_EMAIL 	= #{userEmail}
	</select>
	
	<update id="MODIFY_USER_PASSWORD" parameterType="hashmap">
		UPDATE  JR_DB.EMP
			 SET	USER_PASSWORD	= #{userPw}
		 WHERE	USER_ID 			= #{userId}
	</update>
	
	<select id="GET_USER_SECRET_INFO" resultType="empVO" parameterType="hashMap">
		SELECT  USER_PASSWORD,
						SECRET_KEY
		  FROM  JR_DB.EMP
		 WHERE	USER_ID = #{userId}
	</select>
	
	
	<select id="GET_ONLY_USER_LOGIN_TRY" parameterType="str" resultType="int">
		SELECT	USER_LOGIN_TRY
		  FROM	JR_DB.EMP
		 WHERE	USER_ID = #{input_id}
	</select>
	
	<update id="MODIFY_USER_LOGIN_TRY" parameterType="hashMap">
		UPDATE	JR_DB.EMP
		   SET	USER_LOGIN_TRY = ${addTry}
		 WHERE	USER_ID = #{input_id}
	</update>
	
</mapper>