<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Employee-Mapper">

	<select id="GET_EMP_LIST_FOR_MAIL" resultType="empVO" parameterType="str">
		SELECT   A.USER_EMAIL
		  FROM
		  	 (
		         SELECT   USER_EMAIL,
		               	  USER_RIGHT
		           FROM   JR_DB.EMP
		          <![CDATA[
		          WHERE   USER_RIGHT <=    (
						                              SELECT    BOARD_CONTROLL_RIGHT
						                                FROM   JR_DB.ACCEPT_RIGHT
						                               WHERE   BOARD_TYPE = #{BOARD_TYPE}
						                           )
              ]]>
		      )  A
		  WHERE  USER_RIGHT != 1;
	</select>


	<select id="DUPLE_CHECK_ID" resultType="int" parameterType="str">
		SELECT	COUNT(*)
		  FROM	JR_DB.EMP
		 WHERE	USER_ID = #{joinId}
	</select>
</mapper>