<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="File-Mapper">

	<select id="GET_FILE_LIST" resultType="fileVO" parameterType="hashMap">
		SELECT	FILE_NO,
						FILE_O_PATH,
						FILE_V_PATH,
						BOARD_NO,
						BOARD_TYPE,
						ATTACH_YN
			FROM	jungnangurp.BOARD_FILE
		 WHERE	BOARD_TYPE = #{BOARD_TYPE}
		 	 AND	BOARD_NO = #{BOARD_NO}
		 	 AND	USE_YN = 1
	</select>
	
	<select id="GET_ATTACH_FILE_LIST" resultType="fileVO" parameterType="hashMap">
		SELECT	FILE_NO,
						FILE_O_PATH,
						FILE_V_PATH,
						BOARD_NO,
						BOARD_TYPE,
						ATTACH_YN
			FROM	jungnangurp.BOARD_FILE
		 WHERE	BOARD_TYPE = #{BOARD_TYPE}
		 	 AND	BOARD_NO = #{BOARD_NO}
		 	 AND	ATTACH_YN = 1
		 	 AND	USE_YN = 1
	</select>
	
	<insert id="SET_FILE" parameterType="fileVO">
		INSERT INTO jungnangurp.BOARD_FILE
		(
			FILE_O_PATH,
			FILE_V_PATH,
			BOARD_NO,
			BOARD_TYPE,
			ATTACH_YN
		)
		VALUES
		(
			#{FILE_O_PATH},
			#{FILE_V_PATH},
			#{BOARD_NO},
			#{BOARD_TYPE},
			#{ATTACH_YN}
		)
	</insert>
	
	<update id="REMOVE_FILE" parameterType="int">
		UPDATE	jungnangurp.BOARD_FILE
		 	 SET	USE_YN = 0,
		 	 			DELETE_TIME = SYSDATE()
		 WHERE	FILE_NO = #{file_no}
	</update>

</mapper>