<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="File-Mapper">

	<select id="GET_FILE_LIST" resultType="fileVO" parameterType="hashMap">
		SELECT	FILE_NO,
						FILE_O_PATH,
						FILE_V_PATH,
						BOARD_NO,
						BOARD_TYPE
			FROM	JR_DB.BOARD_FILE
		 WHERE	BOARD_TYPE = #{BOARD_TYPE}
		 	 AND	BOARD_NO = #{BOARD_NO}
	</select>
	
	
	<insert id="SET_FILE" parameterType="fileVO">
		INSERT INTO JR_DB.BOARD_FILE
		(
			FILE_O_PATH,
			FILE_V_PATH,
			BOARD_NO,
			BOARD_TYPE
		)
		VALUES
		(
			#{FILE_O_PATH},
			#{FILE_V_PATH},
			#{BOARD_NO},
			#{BOARD_TYPE}
		)
	</insert>

</mapper>