<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Template-Mapper">
	<resultMap type="template" id="templateMap">
		<id property="templateNo" column="template_no" />
		<result property="templateName" column="template_name" />
	</resultMap>
	
	<select id="selectTemplateList" resultMap="templateMap">
		SELECT
			*
		FROM
			TEMPLATE
	</select>
	
	<select id="selectTemplateByNo" parameterType="int" resultMap="templateMap">
		SELECT
			*
		FROM
			TEMPLATE
		WHERE
			TEMPLATE_NO = #{templateNo}
	</select>
	
	<insert id="insertTemplate" parameterType="template">
		INSERT INTO TEMPLATE (
			TEMPLATE_NAME 
		) VALUES (
			#{templateName}
		)
	</insert>
	
	<update id="updateTemplate" parameterType="template">
		UPDATE 
			TEMPLATE
		SET
			TEMPLATE_NAME = #{templateName}
		WHERE 
			TEMPLATE_NO = #{templateNo}
	</update>
	
	<delete id="deleteTemplate" parameterType="int">
		DELETE FROM
			TEMPLATE
		WHERE 
			TEMPLATE_NO = #{templateNo}
	</delete>
</mapper>