<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		
		<style>
			.mail-header__box {
				background: red;
			}
			
			.mail-content__box {
				font-size: 30px;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div class="mail-wrapper__box">
			<div class="mail-header__box">
				<h1 class="logo"><img src="/assets/commons/hdlogo.png" /></h1>
			</div>
			
			<div class="mail-content__box">
				<p><span>${boardName}</span> 게시판에 글이 등록되었습니다.</p>
			</div>
			
			<div class="mail-footer__box">
				<p>[02043] 서울 중랑구 봉화산로 179 (신내동) 중랑구청2층</p>
				<p>TEL : 02-2094-0114 (120다산콜센터로 연결) / 02-2094-2150(야간,공휴일/당직실) / FAX : 02-490-4449</p>
				<p>COPYRIGHT &copy;2020 ALL RIGHTS RESERVED JUNGNANG URBAN REGENERATION PORTAL</p>
			</div>
		</div>
	</body>
</html>