<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.patis.model.CommonVO" alias="commonVO"/>
		<typeAlias type="com.patis.model.EmpVO" alias="empVO"/>
		<typeAlias type="com.patis.model.LoginLogVO" alias="loginLogVO"/>
		<typeAlias type="com.patis.model.BoardVO" alias="boardVO"/>
		<typeAlias type="com.patis.model.CommentsVO" alias="commentsVO"/>
		<typeAlias type="com.patis.model.Accept_typeVO" alias="accept_typeVO"/>
		<typeAlias type="com.patis.model.BoardFileVO" alias="fileVO"/>
		<typeAlias type="com.patis.model.BoardTempFileVO" alias="tempFileVO"/>
		<typeAlias type="java.lang.Integer" alias="int"/>
		<typeAlias type="java.lang.String" alias="str"/>
	</typeAliases>
</configuration>