@charset "utf-8";

@media screen and (max-width: 1300px) {
  .join-agree {
    width: 1000px;
    margin: 100px auto;
  }
}
@media screen and (max-width: 1100px) {
  .join-agree {
    width: 780px;
  }
}
@media screen and (max-width: 959px) {
  .join-agree {
    width: 700px;
  }
  .agree-title {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .join-agree {
    width: 360px;
  }
  .agree-title {
    font-size: 20px;
  }
  .agree-box-01-title,
  .agree-box-01-title i {
    font-size: 16px;
  }
  .agree-check {
    font-size: 12px;
  }
}
