@charset "UTF-8";

/* Large devices */
@media (max-width: 1201px) {

}

/* Medium devices */
@media (max-width: 993px) {

}

/* Small devices */
@media (max-width: 769px) {
	.board-search__box .board-search__area {
		width: 80%;
	}
	.board-search__box .board-search-type {
    width: 28%;
	}
	.board-search__box .board-search-keyword {
		width: 70%;
	}
	.board-search__box .board-search-type::after {
		width: 1px;
	}
}

/* Extra Small devices */
@media (max-width: 426px) {
	.board-search__box .board-search__area {
		width: 95%;
	}
}