@charset "UTF-8";

/* Large devices */
@media (max-width: 1201px) {
}

/* Medium devices */
@media (max-width: 993px) {
}

@media screen and (max-width: 959px) {
  .board-list__box .board-pc-ver {
    display: none;
  }

  .board-list__box .board-mobile-ver {
    display: block;
  }

  .board-mobile-wrap {
    width: 100%;
  }

  .border-lsit_wrap {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .border-list__table2 {
    width: 100%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
  }

  .border-list__table2 thead tr {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }

  .border-list__table2 thead tr.row-notice {
    background: #ffebd0;
  }

  .border-list__table2 tbody tr.row-empty td {
    padding: 60px 0;
    cursor: default;
  }

  .border-list__table2 tbody tr {
    height: 50px;
    font-size: 18px;
    text-align: center;
  }

  .border-list__table2 thead tr th,
  .border-list__table2 tbody tr td {
    border-right: 1px solid #ddd;
    vertical-align: middle;
  }

  .border-list__table2 thead tr th:last-child,
  .border-list__table2 tbody tr td:last-child {
    border-right: none;
  }

  .border-list__table2 thead tr th:first-child {
    width: 20%;
  }

  .border-list__table2 thead tr th:nth-child(2n) {
    width: 80%;
  }

  .border-list__table2 tbody tr td:first-child {
    width: 40%;
  }

  .border-list__table2 tbody tr td:nth-child(2n) {
    width: 40%;
  }

  .board-pagination {
    margin-top: 100px;
  }

  .board-list__box .board-btn__box {
    bottom: 80px;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .board-search__box .board-search__area {
    width: 80%;
  }
  .board-search__box .board-search-type {
    width: 28%;
  }
  .board-search__box .board-search-keyword {
    width: 70%;
  }
  .board-search__box .board-search-type::after {
    width: 1px;
  }

  .board-detail__box .detail-info__box .detail-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .board-detail__box .detail-info__box .detail-list li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .board-detail__box .detail-file__box .detail-list li {
    width: 100%;
  }

  .board-detail__box .detail-desc__box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .board-detail__box .detail-desc__box p {
    word-break: break-all;
  }

  .board-detail__box .detail-desc__box img {
    width: 100%;
  }

  .board-detail__box .detail-paging__box th {
    width: 60px;
  }

  .board-detail__box .detail-paging__box td {
    width: calc(100% - 60px);
  }

  .board-comment__box .comment-write__box .write-input__box .write-input {
    padding: 10px;
    width: calc(100% - 120px);
  }

  .board-comment__box .comment-write__box .write-input__box .write-button {
    width: 100px;
  }

  .board-detail__box .btn__box button {
    width: 100px;
  }
}

/* Extra Small devices */
@media (max-width: 426px) {
  .board-search__box .board-search__area {
    width: 95%;
  }

  .border-list__table2 {
    border-top: 1.5px solid #222;
    border-bottom: 1.5px solid #222;
  }

  .border-list__table2 thead tr {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }

  .border-list__table2 tbody tr {
    height: 30px;
    font-size: 12px;
  }
}
