@charset "UTF-8";

/* Large devices */
@media (max-width: 1201px) {
}

/* Medium devices */
@media (max-width: 993px) {
}

@media screen and (max-width: 959px) {
  .board-list__box .board-pc-ver {
    display: none;
  }

  .board-list__box .board-mobile-ver {
    display: block;
  }

  .board-mobile-wrap {
    width: 100%;
  }

  .border-list_wrap {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #c2c2c2;
  }

  .border-list_wrap:first-child {
    border-top: 1px solid #c2c2c2;
  }

  .border-notice {
    width: 10%;
    margin-bottom: 10px;
    text-align: center;
    background-color: #fce2de;
    color: #f15d67;
    padding: 5px;
    border-radius: 10px;
  }

  .border-list_title {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 10px;
  }

  .border-list_com {
    width: 100%;
    height: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .border-list_com li {
    font-size: 18px;
    padding-right: 15px;
  }

  .border-list_com li:last-child {
    padding-right: none;
  }

  .board-pagination {
    margin-top: 100px;
  }

  .board-list__box .board-btn__box {
    bottom: 80px;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .board-search__box .board-search__area {
    width: 80%;
  }
  .board-search__box .board-search-type {
    width: 28%;
  }
  .board-search__box .board-search-keyword {
    width: 70%;
  }
  .board-search__box .board-search-type::after {
    width: 1px;
  }

  .board-detail__box .detail-info__box .detail-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .board-detail__box .detail-info__box .detail-list li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .board-detail__box .detail-file__box .detail-list li {
    width: 100%;
  }

  .board-detail__box .detail-desc__box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .board-detail__box .detail-desc__box p {
    word-break: break-all;
  }

  .board-detail__box .detail-desc__box img {
    width: 100%;
  }

  .board-detail__box .detail-paging__box th {
    width: 60px;
  }

  .board-detail__box .detail-paging__box td {
    width: calc(100% - 60px);
  }

  .board-comment__box .comment-write__box .write-input__box .write-input {
    padding: 10px;
    width: calc(100% - 120px);
  }

  .board-comment__box .comment-write__box .write-input__box .write-button {
    width: 100px;
  }

  .board-detail__box .btn__box button {
    width: 100px;
  }

  .border-list_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 2.5rem;
  }

  .border-list_com li {
    font-size: 16px;
    padding-right: 15px;
  }

  .border-list_com li:last-child {
    padding-right: none;
  }

  .board-pagination {
    margin-top: 100px;
  }

  .board-list__box .board-btn__box {
    bottom: 80px;
  }
}

/* Extra Small devices */
@media (max-width: 426px) {
  .board-search__box .board-search__area {
    width: 95%;
  }
  .border-list_title {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5rem;
  }

  .border-list_com li {
    font-size: 14px;
  }

  .board-pagination {
    margin-top: 100px;
  }

  .board-list__box .board-btn__box {
    bottom: 80px;
  }
}
