@charset "UTF-8";

body {
  font-family: NotoSans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sub-container {
  width: 1200px;
  margin: 50px auto;
}
.sub-container-wrap {
  width: 100%;
}
.sub-content-wrap {
  display: none;
}
.sub-content-wrap.active {
  display: block;
}
.subHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.4px solid #a4a4a4;
  padding-bottom: 10px;
}
.sub-main-title {
  font-size: 28px;
  color: #f18d00;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 70px;
}
.sub-main-title-blue {
  font-size: 28px;
  color: #2572ba;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 70px;
}
.subTitle_wrap {
  margin-top: 30px;
}
.subTitle {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
.bread {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-justify-content: end;
  color: #707070;
}
.bold {
  font-weight: bold;
}
.bluetext {
  color: #3c7bb5;
}
.greentext {
  color: #227c39;
}
.table-orangetext {
  color: #ea8c07;
}
.orange {
  color: #ffeba6;
}
.table-sky {
  background-color: #eaf5f9;
}
.table-orange {
  background-color: #ffefd5;
}
.table-yellow {
  background-color: #fffdd6;
}
caption {
  display: none;
}
.red {
  color: red;
}
.darkBluetext {
  color: #2572ba;
}
.table-lightGreen {
  background-color: #effce2;
}
.table-lightGreentext {
  color: #82c63f;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
