@media screen and (max-width: 425px) {
  .findId_title {
    font-size: 25px;
  }
  .findId_subtitle_1 {
    font-size: 15px;
  }

  .findId_subtitle_2 {
    font-size: 12px;
  }

  .info_form_des {
    font-size: 13px;
  }

  .search_form label {
    font-size: 13px;
  }

  .search_form input,
  .search_form_2 input {
    width: 65%;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .search_form input:last-child,
  .search_form_2 input:last-child {
    margin-bottom: 0px;
  }

  .find_btn {
    font-size: 13px;
    right: 20px;
  }

  .need_findPw,
  .go_findPW {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 959px) {
}

@media screen and (min-width: 960px) {
}
