@charset "UTF-8";

.findPw_title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5rem;
}

.findPw_subtitle_wrap {
  margin-bottom: 1.5rem;
}

.findPw_subtitle_1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.findPw_subtitle_2 {
  font-size: 18px;
}

.findPw_com_wrap {
  border: 1px solid #eee;
  border-top: 3px solid #3c7bb5;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.search_list li {
  margin-bottom: 1.5rem;
}

.search_list li:last-child {
  margin-bottom: 0rem;
}

.search_lsit label {
  cursor: pointer;
}

.info_form {
  position: relative;
  border: 1px solid #eee;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
}

.info_form_des {
  font-size: 15px;
  line-height: 1.5rem;
}

.search_form label {
  font-size: 15px;
}

.search_PW input,
.search_PW_2 input {
  margin-top: 15px;
  width: 100%;
  max-width: 500px;
  padding: 8px 8px;
  outline: none;
  border: 1px solid #dedede;
  box-sizing: border-box;
}

.find_btn {
	position: absolute;
  right: 50px;
  bottom: 20px;
  border: 2px solid #f9c32f;
  outline: none;
  background-color: #ffca38;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.need_findId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.go_findId {
  text-decoration: underline;
  margin-left: 10px;
  cursor: pointer;
}
