@media screen and (max-width: 1100px) {
	.find_btn {
		right: 25px;
	}
}

@media screen and (max-width: 767px) {
	.info_form {
		padding-bottom: 70px;
	}
	.find_btn {
    right: 50%;
    margin-right: -42px;
	}	
}


@media screen and (max-width: 425px) {
  .findPw_title {
    font-size: 25px;
  }
  .findPw_subtitle_1 {
    font-size: 15px;
  }

  .findPw_subtitle_2 {
    font-size: 12px;
  }

  .info_form_des {
    font-size: 13px;
    line-height: 1.5rem;
  }

  .search_form label {
    font-size: 13px;
  }

  .search_form input,
  .search_form_2 input {
    width: 65%;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .search_form input:last-child,
  .search_form_2 input:last-child {
    margin-bottom: 0px;
  }

  .find_btn {
    font-size: 13px;
    right: 20px;
  }

  .need_findId,
  .go_findId {
    font-size: 15px;
  }
}