@charset "utf-8";

@media screen and (max-width: 767px) {
  .footer_info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  #sel {
    margin: 6% 0;
  }
  .footer_logo {
    clear: both;
    display: block;
    margin: 1rem;
    width: 250px;
    height: 40px;
    background-size: cover;
    background-image: url("/assets/images/commons/ftlogo.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .footer_info {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .footer_info {
    display: flex;
    justify-content: center;
  }
}
