@charset "utf-8";

@media screen and (max-width: 1300px) {
  .footer_info {
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 780px;
  }

  .footer_info .footer_text {
    margin: 10px 0 20px;
    text-align: center;
  }

  .family__area {
    position: relative;
  }
}

@media screen and (max-width: 959px) {
  .footer_info {
    width: 780px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .footer_logo {
    margin: 1rem;
    width: 250px;
    height: 45px;
  }

  .footer_info .footer_text {
    font-size: 13px;
  }
  .footer_info {
    width: 360px;
    margin: 0 auto;
  }
}
