@charset "utf-8";

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
  .desk {
    display: none;
  }
  #collap_menu {
    display: block;
  }
  #menu_call ~ .wrap {
    margin: 0 auto;
  }
  .logo {
    display: block;
    margin-top: 1rem;
    width: 250px;
    height: 40px;
    background-size: cover;
    background-image: url("/assets/images/commons/hdlogo.png");
  }
  .topHeader {
  top: 10px;
  position: absolute;
  right: 16%;
}
.topHeader button {
  font-size: 14px;
}
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .desk {
    display: block;
  }
  .mobile {
    display: none;
  }
  #collap_menu {
    display: none;
  }
  #menu_call ~ .wrap {
    margin: 0 auto;
  }
  .logo {
    margin: 10px auto;
  }
  .resmenu li a.resmenu__m::after{
  bottom:5px;
  }
  .resmenu li .sub a {
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}
  .resmenu li:nth-child(3) .sub li:first-child {
    margin-left: 38%;
  }
  .resmenu li:nth-child(4) .sub li:first-child {
    margin-left: 42%;
  }
  .resmenu li:nth-child(5) .sub li:first-child {
    margin-left: 43%;
  }
  .resmenu li:nth-child(6) .sub li:first-child {
    margin-left: 67%;
  }
  .resmenu li:last-child .sub li:first-child {
    margin-left: 55%;
  }
}
@media screen and (min-width: 960px) {
  .desk {
    display: block;
  }
  .mobile {
    display: none;
  }
  #collap_menu {
    display: none;
  }
  #menu_call ~ .wrap {
    width: 100%;
    margin: 0 auto;
  }
}
