@charset "utf-8";

.topHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}
.topHeader-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.topHeader_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 4px solid #c7dbfe;
}
.topHeader button {
  outline: none;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  font-size: 14px;
  cursor: pointer;
  width: 110px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.topHeader .login button {
  margin-right: 10px;
}

.topHeader .join button,
.topHeader .login button {
  color: #fff;
  border-radius: 10px;
  background: #17b1aa;
}
.topHeader .loginYet {
  font-size: 13px;
  margin-bottom: 5px;
}
.topHeader .loginYet span {
  color: #333971;
}
.topHeader .logout,
.topHeader .myPage {
  cursor: pointer;
  font-size: 12px;
  margin: 5px 10px;
}
.ck {
  display: none;
}
.menuicon {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_header_res1.png");
}
.xicon {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_header_res2.png");
}
.header {
  clear: both;
  position: relative;
  display: none;
}
.header.mobile {
  height: 60px;
}
#collap_menu {
  display: none;
}
.header.desk {
  width: 100%;
  height: 100px;
  margin: 0 auto 75px;
}
.header .deskbox {
  margin: 0 auto 75px;
  width: 1200px;
}
.lst {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}
.logo {
  display: block;
  margin: 18px 0;
  width: 280px;
  height: 50px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: cover;
  background-image: url("/assets/images/commons/hdlogo.png");
}
.header.mobile .logo {
  margin-top: 1rem;
}
#deskmenu {
  clear: both;
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.resmenu {
  display: -webkit-box;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0;
}
.resmenu__m {
  font-size: 19px;
}
.resmenu__m:hover {
  color: #f18d00;
}
.resmenu li .sub li {
  clear: both;
}
.sub {
  overflow: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 140px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 100;
  display: -webkit-box;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.resmenu li a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  color: black;
  font-weight: 600;
  letter-spacing: -2px;
}
.resmenu li .sub a {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}
.sub:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 55px;
}
.resmenu li:hover .resmenu__m {
  color: #f18d00;
}

.resmenu li:hover .sub,
.resmenu__m:hover + .sub {
  width: 100%;
  height: 55px;
  z-index: 200;
  background: rgba(0, 0, 0, 0.7);
}

.sub li a:hover {
  color: #f18d00;
}

.resmenu li:first-child .sub li:first-child {
  margin-left: 13%;
}
.resmenu li:nth-child(2) .sub li:first-child {
  margin-left: 24.5%;
}
.resmenu li:nth-child(3) .sub li:first-child {
  margin-left: 37.5%;
}
.resmenu li:nth-child(4) .sub li:first-child {
  margin-left: 42%;
}
.resmenu li:nth-child(5) .sub li:first-child {
  margin-left: 49%;
}
.resmenu li:nth-child(6) .sub li:first-child {
  margin-left: 67%;
}
.resmenu li:last-child .sub li:first-child {
  margin-left: 60%;
}
.sub li {
  margin-right: 15px;
}
.menu li {
  float: left;
}
.menu li a {
  display: block;
  text-align: center;
}
#collap_menu {
  position: fixed;
  left: -110vw;
  top: 76px;
  z-index: 888;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
}
#collap_menu ul li {
  line-height: 32px;
  cursor: pointer;
  position: relative;
}

#collap_menu ul li a {
  display: block;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
}

.collap-menu-sub li a {
  cursor: pointer;
  font-weight: normal;
}

#collap_menu ul li a.collap-menu-main {
  line-height: 50px;
  font-size: 22px;
  padding: 1px 20px;
}

#collap_menu ul li .collap-menu-sub {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  height: 0px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  z-index: 888;
}

#collap_menu ul li.active .collap-menu-sub {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
#collap_menu ul li.active .collap-menu-sub li {
  background-color: rgb(138, 138, 138);
  color: #fff;
}
#collap_menu ul li:hover a.collap-menu-main {
  border-top: 1px solid #333;
  -webkit-border-top: 1px solid #333;
  -moz-border-top: 1px solid #333;
  -o-border-top: 1px solid #333;
}

#collap_menu ul li:first-child:hover a.collap-menu-main {
  border-top: 0;
  -webkit-border-top: 0;
  -moz-border-top: 0;
  -o-border-top: 0;
}

#collap_menu ul li .collap-menu-sub a:hover {
  font-weight: bold;
}
#menu_call:checked ~ #collap_menu {
  left: 0;
}
#collap_menu li {
  clear: both;
  margin: 0;
  border-bottom: 1px solid #b6b6b6;
  -webkit-border-bottom: 1px solid #b6b6b6;
  -moz-border-bottom: 1px solid #b6b6b6;
  -o-border-bottom: 1px solid #b6b6b6;
  width: 100%;
  background-color: #ffffff;
}
#collap_menu li a.collap-menu-main:hover {
  background-color: #17b1aa;
  opacity: 80%;
  color: #ffffff;
}
#collap_menu li a {
  display: block;
  line-height: 3.2;
}
#collap_menu .menu .collap-menu-sub li:hover a {
  background-color: #555;
  color: #ffffff;
}
#menu_call ~ .header .menuicon {
  display: block;
}
#menu_call:checked ~ .header .menuicon {
  display: none;
}
#menu_call ~ .header .xicon {
  display: none;
}
#menu_call:checked ~ .header .xicon {
  display: block;
}
#menu_call ~ .wrap {
  margin: 0 auto;
  width: 100vw;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
#menu_call:checked ~ .wrap {
  margin-left: 100vw;
}
