@charset "utf-8";

.topHeader {
  top: 20px;
  position: absolute;
  right: 10%;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topHeader button {
  outline: none;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.topHeader .login button {
  background: transparent;
  margin-right: 10px;
}
.topHeader .join button {
  background: #f18d00;
  color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(30, 30, 30, 0.4);
  -webkit-box-shadow: 0px 2px 10px rgba(30, 30, 30, 0.4);
}
.ck {
  display: none;
}
.menuicon {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_header_res1.png");
}
.xicon {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_header_res2.png");
}
.header {
  clear: both;
  position: relative;
  display: none;
}
.header.mobile {
  height: 60px;
}
#collap_menu {
  display: none;
}
.header.desk {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding-bottom: 8px;
}
.header .deskbox {
  margin: 0 auto;
  width: 80%;
}
.lst {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}
.logo {
  display: block;
  margin-top: 1rem;
  width: 310px;
  height: 60px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-image: url("/assets/images/commons/hdlogo.png");
}
.header.mobile .logo {
  margin-top: 1rem;
}
#deskmenu {
  clear: both;
  width: 100%;
}
.resmenu {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resmenu__m {
  font-size: 21px;
}
.resmenu__m:hover {
  color: #f18d00;
}
.resmenu li .sub li {
  clear: both;
}
.sub {
  overflow: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 120px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 100;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  justify-content: flex-start;
  align-items: center;
}
.resmenu li a {
  position: relative;
  display: block;
  height: 55px;
  line-height: 55px;
  font-size: 21px;
  color: black;
  font-weight: bold;
}
.resmenu li .sub a {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}
.sub:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.5);
}
.resmenu li:hover .resmenu__m {
  color: #f18d00;
}
.resmenu li:hover .resmenu__m::after {
  background-color: #f18d00;
  -webkit-animation: resmenuSubInAnimation 0.5s both;
  animation: resmenuSubInAnimation 0.5s both;
}
.resmenu li:hover .sub,
.resmenu__m:hover + .sub {
  width: 100%;
  height: 55px;
  z-index: 200;
}

.resmenu li:hover a:after {
  display: block;
}

.sub li a:hover {
  color: #f18d00;
}

.resmenu li a.resmenu__m::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-animation: resmenuHoverOutInAnimation 0.5s both;
  animation: resmenuHoverOutAnimation 0.5s both;
}
.resmenu li a.resmenu__m:hover::after {
  background: #f18d00;
  -webkit-animation: resmenuHoverInAnimation 0.5s both;
  animation: resmenuHoverInAnimation 0.5s both;
}

.resmenu li:first-child .sub li:first-child {
  margin-left: 10%;
}
.resmenu li:nth-child(2) .sub li:first-child {
  margin-left: 23%;
}
.resmenu li:nth-child(3) .sub li:first-child {
  margin-left: 37%;
}
.resmenu li:nth-child(4) .sub li:first-child {
  margin-left: 43%;
}
.resmenu li:nth-child(5) .sub li:first-child {
  margin-left: 50%;
}
.resmenu li:nth-child(6) .sub li:first-child {
  margin-left: 69%;
}
.resmenu li:last-child .sub li:first-child {
  margin-left: 69%;
}
.sub li {
  margin-right: 15px;
}
.menu li {
  float: left;
}
.menu li a {
  display: block;
  text-align: center;
}
#collap_menu {
  position: fixed;
  left: -110vw;
  top: 76px;
  z-index: 888;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
}
#collap_menu ul li {
  line-height: 32px;
  position: relative;
}

#collap_menu ul li a {
  display: block;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
}

.collap-menu-sub li a {
  font-weight: normal;
}

#collap_menu ul li a.collap-menu-main {
  line-height: 50px;
  font-size: 22px;
}

#collap_menu ul li .collap-menu-sub {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  height: 0px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
}

#collap_menu ul li:hover .collap-menu-sub {
  height: 150px;
  opacity: 1;
  visibility: visible;
}

#collap_menu ul li:hover a.collap-menu-main {
  border-top: 1px solid #333;
  -webkit-border-top: 1px solid #333;
  -moz-border-top: 1px solid #333;
  -o-border-top: 1px solid #333;
}

#collap_menu ul li:first-child:hover a.collap-menu-main {
  border-top: 0;
  -webkit-border-top: 0;
  -moz-border-top: 0;
  -o-border-top: 0;
}

#collap_menu ul li .collap-menu-sub a:hover {
  font-weight: bold;
}
#menu_call:checked ~ #collap_menu {
  left: 0;
}
#collap_menu li {
  clear: both;
  margin: 0;
  border-top: 1px solid #555;
  -webkit-border-top: 1px solid #555;
  -moz-border-top: 1px solid #555;
  -o-border-top: 1px solid #555;
  width: 100%;
  background-color: #e7e7e7;
}
#collap_menu li a.collap-menu-main:hover {
  background-color: #227c39;
  color: #ffffff;
}
#collap_menu li a {
  display: block;
  line-height: 3.2;
}
#collap_menu .menu .collap-menu-sub li:hover a {
  background-color: #555;
  color: #ffffff;
}
#menu_call ~ .header .menuicon {
  display: block;
}
#menu_call:checked ~ .header .menuicon {
  display: none;
}
#menu_call ~ .header .xicon {
  display: none;
}
#menu_call:checked ~ .header .xicon {
  display: block;
}
#menu_call ~ .wrap {
  margin: 0 auto;
  width: 100vw;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
#menu_call:checked ~ .wrap {
  margin-left: 100vw;
}

@keyframes resmenuHoverInAnimation {
  from {
    margin-left: -200px;
    z-index: 1;
  }
  to {
    margin-left: 0;
    z-index: 1;
  }
}
@keyframes resmenuSubInAnimation {
  from {
    margin-left: 0px;
    z-index: 1;
  }
  to {
    margin-left: 0;
    z-index: 1;
  }
}

@keyframes resmenuHoverOutAnimation {
  0% {
    margin-left: 0;
    z-index: 1;
  }
  100% {
    margin-left: -200px;
    z-index: -1;
  }
}
@-webkit-keyframes resmenuHoverInAnimation {
  from {
    margin-left: -200px;
    z-index: 1;
  }
  to {
    margin-left: 0;
    z-index: 1;
  }
}
@-webkit-keyframes resmenuSubInAnimation {
  from {
    margin-left: 0px;
    z-index: 1;
  }
  to {
    margin-left: 0;
    z-index: 1;
  }
}
@-webkit-keyframes resmenuHoverOutAnimation {
  0% {
    margin-left: 0;
    z-index: 1;
  }
  100% {
    margin-left: -200px;
    z-index: -1;
  }
}
