@charset "utf-8";

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 959px) {
  .join-box {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0;
  }
  h3.join-title {
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  h3.join-title:before {
    content: "";
    position: absolute;
    top: 20%;
    width: 50px;
    height: 0;
    border: 1px solid #333;
  }
  .join-title__content {
    font-size: 14px;
  }
  .join-info__text {
    font-size: 12px;
  }
  .join-right li:nth-child(1) span,
  .join-right li:nth-child(3) span {
    font-size: 10px;
  }
  .join-right li:nth-child(n + 6):nth-child(-n + 8) input,
  .join-right select {
    width: 100px;
  }
  .join-left li {
    font-size: 14px;
  }
  .postNum,
  .overlap {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .join-box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  h3.join-title {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  h3.join-title:before {
    content: "";
    position: absolute;
    top: 20%;
    width: 50px;
    height: 0;
    border: 1px solid #333;
  }
  .join-title__content {
    font-size: 12px;
  }
  .join-info__text {
    font-size: 10px;
  }
  .join-right li:nth-child(1) span,
  .join-right li:nth-child(3) span {
    font-size: 10px;
    padding: 0;
  }
  .join-right li:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 25px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .join-right li:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 25px;
    padding-top: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px;
  }
  .join-right li:nth-child(n + 6):nth-child(-n + 8) input,
  .join-right select {
    width: 18%;
  }
  .join-left li {
    font-size: 12px;
  }
  .join-box__infobox ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .join-right input,
  .join-right select {
    padding: 4px;
    font-size: 10px;
  }
  .join-right select {
    width: 32%;
  }
  .postNum,
  .overlap {
    font-size: 10px;
  }
  .join-right input {
    width: 130px;
  }
  .join-left {
    width: 26%;
  }
  .join-left li {
    padding-left: 8px;
  }
}
