@charset "utf-8";

.login_page {
  width: 100%;
}

.login_container {
  text-align: center;
  color: #444444;
  font-size: 14px;
}

.login_tit {
  color: #222222;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 65px;
}

.login_tit > span {
  color: #0b62b4;
}

.normal_txt {
  font-size: 18px;
  color: #444444;
  margin-bottom: 1rem;
}

.login_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 95px;
}

.mem_login {
  width: 540px;
  border: 1px solid #dddddd;
}

.ico_login_on {
  padding-top: 30px;
  margin-bottom: 18px;
}

.none_mem_login {
  width: 540px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}

.ico_login_off {
  padding-top: 30px;
  margin-bottom: 18px;
}

.center_tit {
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
}

.login_des {
  color: #666666;
  line-height: 22px;
  padding: 10px;
}

.login_des > span {
  font-weight: 700;
  color: #222222;
}

.mem_btn_com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.btn_com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn_com > a {
  width: 134px;
  height: 34px;
  display: block;
}

.mem_login_btn1 {
  color: #ffffff;
  background-color: #0b62b4;
}

.mem_login_btn2 {
  color: #ffffff;
  background-color: #3d7cb6;
}

.none_btn_com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.none_mem_login_btn1 {
  color: #ffffff;
  background-color: #444444;
}

.none_mem_login_btn2 {
  color: #ffffff;
  background-color: #575c62;
}

.gray_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #dddddd;
  padding: 17px 0px;
}

.gray_section > li > a {
  color: #222222;
  line-height: 44px;
}

.gray_section > li > p {
  color: #666666;
  line-height: 22px;
  margin: 0px 30px;
}
