/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@charset "utf-8";

.login-page {
  width: 100%;
  margin: 145px 0px 200px;
}
.login-box {
  width: 40%;
  height: 300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 14px rgba(32, 33, 36, 0.27);
  box-shadow: 0 2px 14px rgba(32, 33, 36, 0.27);
  padding: 50px 50px 70px;
}
h3.login-title {
  font-weight: bold;
  color: #333971;
  font-size: 30px;
  text-align: left;
  margin-bottom: 60px;
}
.id input,
.pass input {
  width: 100%;
  padding: 10px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid #dedede;
  margin: 10px 0px;
}
.idSearch {
  font-size: 18px;
  text-align: right;
}
.login-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-button button {
  cursor: pointer;
  margin-top: 50px;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: transparent;
  text-align: center;
}
.login-button .login-btn {
  color: #fff;
  background-color: #333971;
  margin-right: 10px;
}
.login-button .join-btn {
  color: #333971;
  border: 2px solid #333971;
}
.topHeader .login button i,
.topHeader .join button i {
  -webkit-transition: -webkit-transform 600ms ease-in-out 0s;
  transition: -webkit-transform 600ms ease-in-out 0s;
  -o-transition: transform 600ms ease-in-out 0s;
  transition: transform 600ms ease-in-out 0s;
  transition: transform 600ms ease-in-out 0s,
    -webkit-transform 600ms ease-in-out 0s;
}
.topHeader .login button i:hover,
.topHeader .join button i:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
