@charset "utf-8";

@media screen and (max-width: 1300px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main-container-banner {
    width: 100%;
  }

  .main-container__slide li a {
    height: 530px;
  }

  .btn_box {
    margin-bottom: 30px;
    width: auto;
  }

  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 98%;
  }

  .up,
  .down {
    width: 50%;
  }
}

@media screen and (max-width: 1150px) {
  .resmenu li a {
    font-size: 18px;
  }

  .resmenu li .sub a {
    font-size: 15px;
  }

  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width:90%;
    margin:0 auto;
  }

  .banner > div > div {
    width: 100%;
    margin: 0 4px;
  }

  .banner a {
    background-size: contain;
    width: 100%;
    height: 230px;
  }
  .main-regeneration{
    width: 100%;
    height: auto;
  }
  .main-img-rayer{
  width: 100%;
  height:564px;
  }
  .up,
  .down {
    width: 100%;
  }

  .main-container-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-news,
  .main-urbannews {
    margin: 10px 0;
    width: 100%;
  }
  .main-cooper ul {
    width: 272%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
}

@media screen and (max-width: 959px) {
  .resmenu li a {
    font-size: 15px;
  }

  .resmenu li .sub a {
    font-size: 14px;
  }
  .main-regeneration {
    width: 100%;
  }
  .main-img-rayer {
    width: 100%;
    height: 488px;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    width: 100%;
    margin: 12px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .main-container-banner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .main-container__slide li a {
    height: 275px;
  }
  .banner a {
    width: 100%;
    height: 276px;
  }
  .banner > div > div {
    width: 100%;
  }
  .main-container-content {
    width: 90%;
    margin-top: 0px;
  }
  .main-container-image {
    width: 100%;
    height: 300px;
    background-size: contain;
  }
  .main-news,
  .main-urbannews {
    width: 100%;
    margin-top: 15px;
  }
  
  .main-cooper ul {
    width: 600%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .main-regeneration {
    width: 100%;
    height: auto;
  }
  .main-regeneration,
  .main-img-rayer {
    width: 100%;
    height: 425px;
  }
}
@media screen and (min-width: 375px) and (max-width: 760px){
	.main-news{
    margin-top:-100px;
    }
    .banner a{
     height:163px;
    }
}
@media screen and (min-width: 554px) and (max-width: 966px){
	.main-news{
    margin-top:10px;
    .banner a{
     height:163px;
    }
    }
}
@media screen and (min-width: 827px) and (max-width: 1009px){
	.banner a{
	height:278px;
	}
}
@media screen and (min-width: 1150px) and (max-width: 1009px){
	.banner a{
	height:334px;
	}
}