@charset "utf-8";

@media screen and (max-width: 1300px) {
	.main-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 1000px;
	}
	.main-container__slide {
		width: 5000px;
	}
	.main-container-banner {
		width: 100%;
	}
	.main-container__slide li a {
		height: 560px;
	}
	.btn_box {
		margin-bottom: 30px;
		width: auto;
	}
	.banner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		width: 1000px;
	}
	.banner>div>div {
		width: 163px;
	}
	.banner>div>div:nth-child(2) {
		margin: 0 4px;
	}
	.up {
		margin-right: 2px;
	}
	.up, .down {
		width: 50%;
	}
	.main-container-content {
		width: 1000px;
	}
	.main-regeneration {
		height: auto;
	}
	.main-img-rayer {
		width: 343px;
		height: 230px;
	}
	.main-news, .main-urbannews {
		padding: 0px 20px;
		width: 333px;
		height: 229px;
	}
	.mainBotton {
		width: 1000px;
	}
	.main-cooper ul {
		width: 160%;
	}
}

@media screen and (max-width: 1150px) {
	.resmenu li a {
		font-size: 18px;
	}
	.resmenu li .sub a {
		font-size: 15px;
	}
	.main-regeneration {
		width: 100%;
	}
	.main-img-rayer {
    width: 100%;
	}
	.main-news, .main-urbannews {
		height: 221px;
	}
	.main-news__title, .main-urbannews__title {
		margin-bottom: 11px;
	}
	.main-news__title .title-text, .main-urbannews__title .title-text {
		display: inline-block;
		padding: 3px 0;
		font-size: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.main-container {
		width: 780px;
	}
	.main-container__slide {
		width: 3900px;
		overflow-x: hidden;
	}
	.banner {
		width: 780px;
    flex-direction: column;
    margin: 0 auto;
	}
	.banner>div>div {
		width: 256px;
		height: 280px;
	}
	.banner>div>div:nth-child(2) {
		margin-left: 6px;
		margin-right: 6px;
	}
	.banner a {
		height: 300px;
		margin: 0;
	}
	.main-container-content {
		width: 780px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.main-img-rayer {
		height: 520px;
	}
	.main-regeneration {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.main-news, .main-urbannews {
    margin: 10px auto;
    width: 100%;
	}
	.mainBotton {
		width: 780px;
	}
	.up {
		margin-bottom: 25px;	
	}
	.up, .down {
		width: 100%;
	}
	.main-cooper ul {
		width: 200%;
	}
}

@media screen and (max-width: 959px) {
	.resmenu li a {
		font-size: 15px;
	}
	.resmenu li .sub a {
		font-size: 14px;
	}
	.main-container {
		width: 700px;
	}
	.main-container-content {
		width: 700px;
	}
	.banner {
		width: 700px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
	}
	.banner>div>div {
		width: 229px;
	}
	.mainBotton {
		width: 700px;
	}
	.main-img-rayer {
		height: 468px;
	}
	.main-cooper ul {
		width: 275%;
	}
}

@media screen and (max-width: 767px) {
	.mainBotton {
		width: 360px;
	}
	.main-cooper ul li a {
		width: 200px;
	}
	.main-container {
		width: 100%;
		margin: 12px auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.main-container__slide {
		width: 1800px;
	}
	.main-container-banner {
		width: 360px;
		margin: 0 auto;
		overflow: hidden;
	}
	.main-container__slide li a {
		width: 360px;
		height: 230px;
		margin: 0 atuo
	}
	.banner {
		width: 360px;
	}
	.banner a {
		width: 100%;
		height: 154px;
	}
	.banner>div>div {
		width: 100%;
		margin: 0 atuo;
		height: 154px;
	}
	.banner a {
		margin: 0;
	}
	.main-container-content {
		width: 360px;
		margin-top: 0px;
	}
	.main-container-image {
		width: 360px;
		height: 300px;
		background-size: contain;
	}
	.main-news, .main-urbannews {
		width: 100%;
		margin-top: 15px;
	}
	.main-cooper ul {
		width: 755%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.main-regeneration {
    margin-top: 15px;
		width: 100%;
		height: auto;
	}
	.main-regeneration, .main-img-rayer {
		width: 100%;
		height: 242px;
	}
	.up {
		margin-bottom: 5px;
	}
	.mainBotton {
		margin-top: 35px;
	}
}
