@charset "utf-8";

.main {
  width: 100%;
}
.main-container {
  width: 80%;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container-banner{
	width:500%;
	overflow:hidden;
}
.main-container__slide{
	width:700px;
	display:flex;
	flex-direction: row;
	overflow: hidden;
}
.slideimg-01 {
  display: block;
  width: 700px;
  height: 400px;
  background-size: cover;
  background-image: url("/assets/images/image/main_slideimg.png");
}
.slideimg-02{
display: block;
  width: 700px;
  height: 400px;
  background-size: cover;
  background-image: url("/assets/images/image/main_bannerimg.png");
}
.slideimg-03{
display: block;
  width: 700px;
  height: 400px;
  background-size: cover;
  background-image: url("/assets/images/image/main_slideimg.png");
}
.slideimg-04{
display: block;
  width: 700px;
  height: 400px;
  background-size: cover;
  background-image: url("/assets/images/image/main_slideimg.png");
}
.slideimg-05{
display: block;
  width: 700px;
  height: 400px;
  background-size: cover;
  background-image: url("/assets/images/image/main_slideimg.png");
}
.btn_box {
  width: 680px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn.on {
  outline: none;
  border: none;
  width: 50px;
  height: 15px;
  border-radius: 20px;
  background-color: #f18d00;
  cursor: pointer;
}
.btn {
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin: 10px;
  background-color: #707070;
  cursor: pointer;
}
.pause {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: 8px;
  background-size: cover;
  background-color: transparent;
  background-image: url("/assets/images/icons/ico_pause.png");
  cursor: pointer;
}
.play {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: 8px;
  background-size: cover;
  background-color: transparent;
  background-image: url("/assets/images/icons/ico_play.png");
  cursor: pointer;
}

.banner {
  clear: both;
  flex-direction: column;
  justify-content: center;
}
.up,
.down {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.banner a {
  display: block;
  width: 170px;
  height: 198px;
  margin-left: 4px;
  margin-bottom: 4px;
  color: #ffffff;
}
.banner a.banner1 {
  background-image: url("/assets/images/icons/ico_main_banner1_on.png");
}

.banner a.banner1:hover {
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner1_off.png");
}
.banner a.banner2 {
  background-image: url("/assets/images/icons/ico_main_banner2_on.png");
}
.banner a.banner2:hover {
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner2_off.png");
}
.banner a.banner3 {
  background-image: url("/assets/images/icons/ico_main_banner3_on.png");
}
.banner a.banner3:hover {
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner3_off.png");
}
.banner a.banner4 {
  background-image: url("/assets/images/icons/ico_main_banner4_on.png");
}
.banner a.banner4:hover {
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner4_off.png");
}
.banner a.banner5 {
  background-image: url("/assets/images/icons/ico_main_banner5_on.png");
}
.banner a.banner5:hover {
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner5_off.png");
}
.banner .down a.banner6 {
  background-image: url("/assets/images/icons/ico_main_banner6_on.png");
}
.banner a.banner6:hover {
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner6_off.png");
}
.main-container-content {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container-image {
  margin-right: 6px;
  display: block;
  width: 405px;
  height: 269px;
  background-image: url("/assets/images/image/main_bannerimg.png");
}
.main-news,
.main-urbannews {
  padding: 20px;
  box-sizing: border-box;
  margin-right: 6px;
  width: 405px;
  height: 269px;
  border: 1px solid #dedede;
}
.main-news li,
.main-urbannews li {
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-news li.main-urbannews__content a,
.main-urbannews li.main-urbannews__content a {
  font-size: 14.5px;
  color: #5f5f5f;
}
.main-news li.main-urbannews__content a:hover,
.main-urbannews li.main-urbannews__content a:hover {
  color: black;
}
.main-news__title,
.main-urbannews__title {
  border-bottom: 2px solid #474747;
}
.main-news__title a,
.main-urbannews__title a {
  font-size: 22px;
}
a.main-plus {
  display: block;
  position: absolute;
  margin-top: -196px;
  margin-left: 338px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_plus.png");
}

.mainBotton {
  width: 85%;
  margin: 35px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-cooper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main-cooper ul {
  width: 140%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-cooper ul li {
  width: 16%;
}
.main-cooper li a.main-cooper-01 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_01.png");
}
.main-cooper li a.main-cooper-02 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_02.png");
}
.main-cooper li a.main-cooper-03 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_03.png");
}
.main-cooper li a.main-cooper-04 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_04.png");
}
.main-cooper li a.main-cooper-05 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_05.png");
}
.main-cooper li a.main-cooper-06 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_06.png");
}
.main-cooper li a.main-cooper-07 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_07.png");
}
.main-cooper li a.main-cooper-08 {
  display: block;
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_08.png");
}
.main-cooper-btn {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
}
.main-cooper-btn .prev {
  width: 30px;
  height: 30px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/assets/images/icons/prev.png");
}
.main-cooper-btn .next {
  width: 30px;
  height: 30px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/assets/images/icons/next.png");
}
