@charset "utf-8";

@media screen and (max-width: 1300px) {
	.main-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 1000px;
	}
	.main-container__slide {
		width: 5000px;
	}
	.main-container-banner {
		width: 100%;
	}
	.main-container__slide li a {
		height: 560px;
	}
	.btn_box {
		margin-bottom: 30px;
		width: auto;
	}
	.banner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		width: 1000px;
	}
	.banner>div>div {
		width: 160px;
		margin-right: 7px;
	}
	.up, .down {
		width: 50%;
	}
	.main-container-content {
		width: 1000px;
	}
	.main-img-rayer {
		width: 343px;
		height: 230px;
	}
	.main-news, .main-urbannews {
		padding: 0px 20px;
		width: 343px;
		height: 230px;
	}
	.mainBotton {
		width: 1000px;
	}
}

@media screen and (max-width: 1100px) {
	.main-container {
		width: 700px;
	}
	.main-container__slide {
		width: 3900px;
		overflow-x: hidden;
	}
	.banner {
		width: 700px;
	}
	.banner>div>div {
		width: 256px;
		height: 300px;
		margin-right: 5px;
		margin-bottom: 3px;
	}
	.banner a {
		width: 256px;
		height: 300px;
		margin: 0;
	}
	.main-container-content {
		width: 780px;
	}
	.mainBotton {
		width: 780px;
	}
}

@media screen and (max-width: 1150px) {
	.resmenu li a {
		font-size: 18px;
	}
	.resmenu li .sub a {
		font-size: 15px;
	}
	.banner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 780px;
		margin: 0 auto;
	}
	.main-regeneration {
		width: 100%;
		height: auto;
	}
	.main-img-rayer {
		width: 100%;
		height: 564px;
	}
	.up, .down {
		width: 100%;
		height:305px;
	}
	.main-container-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.main-news, .main-urbannews {
		margin: 10px 0;
		width: 100%;
	}
	.main-cooper ul {
		width: 272%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
	}
}

@media screen and (max-width: 959px) {
	.resmenu li a {
		font-size: 15px;
	}
	.resmenu li .sub a {
		font-size: 14px;
	}
	.main-regeneration {
		width: 100%;
	}
	.main-img-rayer {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.mainBotton {
		width: 360px;
	}
	.main-cooper ul li a {
		width: 200px;
	}
	.main-container {
		width: 100%;
		margin: 12px auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.main-container__slide {
		width: 1800px;
	}
	.main-container-banner {
		width: 360px;
		margin: 0 auto;
		overflow: hidden;
	}
	.main-container__slide li a {
		width: 360px;
		height: 230px;
		margin: 0 atuo
	}
	.banner {
		width: 360px;
	}
	.banner a {
		width: 100%;
		height: 154px;
	}
	.banner>div>div {
		width: 100%;
		margin: 0 atuo;
		height: 154px;
	}
	.banner a {
		margin: 0;
	}
	.main-container-content {
		width: 360px;
		margin-top: 0px;
	}
	.main-container-image {
		width: 360px;
		height: 300px;
		background-size: contain;
	}
	.main-news, .main-urbannews {
		width: 100%;
		margin-top: 15px;
	}
	.main-cooper ul {
		width: 1360px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.main-regeneration {
		width: 100%;
		height: auto;
	}
	.main-regeneration, .main-img-rayer {
		width: 100%;
		height: 242px;
	}
	.up, .down{
	height:160px;
	}
}


@media screen and (min-width: 554px) and (max-width: 966px) {
	.banner{
	width:700px;
	}
	.main-news {
		margin-top: 10px;
	}
	.banner a {
	width:228px;
		height: 298px;
	}
	.main-container-content{
	width:700px;
	}
	.mainBotton{
	width:700px;
	}
	.up, .down{
	height:305px;
	}
}

@media screen and (min-width: 827px) and (max-width: 1009px) {
	.banner a {
		height: 278px;
	}
}

@media screen and (min-width: 1150px) and (max-width: 1009px) {
	.banner a {
		height: 334px;
	}
}

}
@media screen and (min-width: 950px) and (max-width: 1000px) {
	.main-container {
		width: 700px;
	}
	.main-container__slide {
		width: 3500px;
	}
	.main-container__slide li a {
		height: 390px;
	}
}
