@charset "utf-8";

.main {
  width: 100%;
}
.main-container {
  width: 1100px;
  margin: 12px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.main-container-banner {
  width: 56%;
  overflow: hidden;
}
.main-container__slide {
  width: 3135px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.main-container__slide li {
  width: 100%;
}

.main-container__slide li a {
  display: block;
  width: 100%;
  height: 352px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slideimg-01 {
  background-image: url("/assets/images/image/main_slideimg-01.png");
}
.slideimg-02 {
  background-image: url("/assets/images/image/main_slideimg-02.png");
}
.slideimg-03 {
  background-image: url("/assets/images/image/main_slideimg-01.png");
}
.slideimg-04 {
  background-image: url("/assets/images/image/main_slideimg-02.png");
}
.slideimg-05 {
  background-image: url("/assets/images/image/main_slideimg-01.png");
}

.btn_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: -41px;
}

.btn_box li {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5px solid #ffffff;
}
.left-btn {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: 10px;
  background-size: cover;
  background-color: transparent;
  background-image: url("/assets/images/icons/left-btn.png");
  cursor: pointer;
}
.right-btn {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: 10px;
  background-size: cover;
  background-color: transparent;
  background-image: url("/assets/images/icons/right-btn.png");
  cursor: pointer;
}
.pause {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: 10px;
  background-size: cover;
  background-color: transparent;
  background-image: url("/assets/images/icons/ico_pause.png");
  cursor: pointer;
}
.play {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  margin: 10px;
  background-size: cover;
  background-color: transparent;
  background-image: url("/assets/images/icons/ico_play.png");
  cursor: pointer;
}

.banner {
  margin: 0px auto;
  width: 476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner > div > div {
  width: 168px;
}
.banner > div > div:nth-child(2) {
  margin: 0px 6px;
}
.up {
  margin-bottom: 5px;
}
.up,
.down {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.banner a {
  display: block;
  width: 100%;
  height: 173px;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 72% center;
}
.banner a.banner1 {
  background-image: url("/assets/images/icons/ico_main_banner1_on.png");
}

.banner a.banner1:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner1_off.png");
}
.banner a.banner2 {
  background-image: url("/assets/images/icons/ico_main_banner2_on.png");
}
.banner a.banner2:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner2_off.png");
}
.banner a.banner3 {
  background-image: url("/assets/images/icons/ico_main_banner3_on.png");
}
.banner a.banner3:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner3_off.png");
}
.banner a.banner4 {
  background-image: url("/assets/images/icons/ico_main_banner4_on.png");
}
.banner a.banner4:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner4_off.png");
}
.banner a.banner5 {
  background-image: url("/assets/images/icons/ico_main_banner5_on.png");
}
.banner a.banner5:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner5_off.png");
}
.banner .down a.banner6 {
  background-image: url("/assets/images/icons/ico_main_banner6_on.png");
}
.banner a.banner6:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url("/assets/images/icons/ico_main_banner6_off.png");
}
.main-container-content {
  width: 1100px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-justify-content: center;
}
.main-regeneration {
  overflow: hidden;
  width: 376px;
  height: 252px;
  cursor: pointer;
}
a.main-img-rayer {
  display: block;
  width: 376px;
  height: 252px;
  background-image: url("/assets/images/image/main_bannerimg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-news,
.main-urbannews {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 32%;
  height: 250px;
  border: 1px solid #dedede;
  margin-left: 10px;
}
.main-news li,
.main-urbannews li {
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.main-news li.main-urbannews__content.empty,
.main-urbannews li.main-urbannews__content.empty {
  font-size: 14.5px;
  color: #5f5f5f;
}
.main-news li.main-urbannews__content a,
.main-urbannews li.main-urbannews__content a {
  font-size: 14.5px;
  color: #5f5f5f;
}
.main-news li.main-urbannews__content a:hover,
.main-urbannews li.main-urbannews__content a:hover {
  color: black;
}
.main-news__title,
.main-urbannews__title {
  position: relative;
  margin-bottom: 18px;
  border-bottom: 2px solid #474747;
}

.main-news__title .title-text,
.main-urbannews__title .title-text {
  font-size: 22px;
}

.main-news__title .main-plus,
.main-urbannews__title .main-plus {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12.5px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_plus.png");
}
.main-news__title .main-plus:hover,
.main-urbannews__title .main-plus:hover {
  -webkit-animation: spin 0.7s ease;
  animation: spin 0.7s ease;
}
.text-layer p {
  color: #ffffff;
  line-height: 1.2;
  z-index: 10;
}
.text-layer p:first-child {
  font-size: 10px;
}
.text-layer p:nth-child(2) {
  color: #fffd39;
  line-height: 1.3;
  font-size: 38px;
  font-weight: bold;
}
.text-layer p:nth-child(2) span {
  color: #ffffff;
}

.text-layer p:nth-child(3) {
  font-size: 14px;
}
.mainBotton {
  width: 1100px;
  margin: 70px auto 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-cooper {
  width: 90%;
  margin: 0px auto;
  overflow: hidden;
}
.main-cooper ul {
  width: 160%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.main-cooper ul li {
  width: 14%;
  text-align: center;
}
.main-cooper ul li a {
  display: inline-block;
}
.main-cooper li a.main-cooper-01 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_01.png");
}
.main-cooper li a.main-cooper-02 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_02.png");
}
.main-cooper li a.main-cooper-03 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_03.png");
}
.main-cooper li a.main-cooper-04 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_04.png");
}
.main-cooper li a.main-cooper-05 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_05.png");
}
.main-cooper li a.main-cooper-06 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_06.png");
}
.main-cooper li a.main-cooper-07 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_07.png");
}
.main-cooper li a.main-cooper-08 {
  width: 170px;
  height: 50px;
  background-size: cover;
  background-image: url("/assets/images/image/main_cooper_08.png");
}
.main-cooper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0px 6px 0px 10px;
}
.main-cooper-btn .prev {
  width: 30px;
  height: 30px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/assets/images/icons/prev.png");
}
.main-cooper-btn .next {
  width: 30px;
  height: 30px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("/assets/images/icons/next.png");
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.main_modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 120;
  background-color: transparent;
}
.main_modal__desc {
  position: relative;
  background-size: cover;
}
.main_modal__desc__exit {
  font-size: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #0b0b0b;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.main_modal__desc__exit i {
  color: #fff;
}
.main_modal__desc .main_modal__desc__link {
  width: 120px;
  height: 30px;
  position: absolute;
  bottom: 15px;
  left: 38%;
  box-shadow: 2px 4px 5px #888;
  font-weight: bold;
  font-size: 18px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}
.main_modal__desc__bottom {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.main_modal__desc__bottom input {
  outline: none;
}
.main_modal__desc__bottom div:first-child {
  font-size: 15px;
}
.main_modal__desc__bottom div:last-child {
  cursor: pointer;
  margin-right: 10px;
}
