@charset "utf-8";

@media screen and (max-width: 1300px) {
  .main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 1000px;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
  }
  .main-container__slide {
    width: 2825px;
  }
  .main-container-banner {
    width: 565px;
  }
  .main-container__slide li a {
    height: 330px;
  }
  .btn_box {
    margin-bottom: 30px;
    width: auto;
  }
  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 428px;
  }
  .banner a {
    width: 140px;
    height: 163px;
  }
  .banner > div > div {
    width: 163px;
  }
  .banner > div > div:nth-child(2) {
    margin: 0 4px;
  }
  .up {
    margin-right: 2px;
  }
  .up,
  .down {
    width: 100%;
  }
  .main-container-content {
    width: 1000px;
  }
  .main-regeneration {
    height: auto;
  }
  a.main-img-rayer {
    display:block;
    width: 343px;
    height: 230px;
  }
  .main-news,
  .main-urbannews {
    padding: 0px 20px;
    width: 333px;
    height: 229px;
  }
  .mainBotton {
    width: 1000px;
  }
  .main-cooper ul {
    width: 160%;
  }
}

@media screen and (max-width: 1150px) {
  .main-regeneration {
    width: 310px;
    height: 208px;
  }
  a.main-img-rayer {
    width: 310px;
    height: 208px;
  }
  .main-news,
  .main-urbannews {
    height: 208px;
  }
  .main-news__title,
  .main-urbannews__title {
    margin-bottom: 11px;
  }
  .main-news__title .title-text,
  .main-urbannews__title .title-text {
    display: inline-block;
    padding: 3px 0;
    font-size: 20px;
  }
  .main-news li, .main-urbannews li {
    line-height: 1.85;
}
}

@media screen and (max-width: 1100px) {
  .main-container {
    width: 780px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .main-container-banner {
    width: 450px;
  }
  .main-container__slide {
    width: 2250px;
    overflow-x: hidden;
  }
  .main-container__slide li a {
    height: 255px;
  }
  .btn_box{
  	margin-top:-36px;
  }
  .left-btn,
  .right-btn,
  .pause,
  .play{
  	width:15px;
  	height:15px;
  }
  .btn_box li{
  	width:35px;
  	height:35px;
  }
  .banner {
    width: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
  }
  .banner > div > div {
    width: 105px;
    height: 125px;
  }
  .banner > div > div:nth-child(2) {
    margin-left: 6px;
    margin-right: 6px;
  }
  .banner a {
    width: 106px;
    height: 126px;
    margin: 0;
  }
  .main-container-content {
    width: 780px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  a.main-img-rayer, 
   .main-regeneration {
    height: 160px;
    width: 240px;
  }
  .main-news,
  .main-urbannews {
    width: 260px;
    height: 160px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-news li,
  .main-urbannews li {
    line-height: 1.4;
  }
  .mainBotton {
    width: 780px;
  }
  .up,
  .down {
    width: 100%;
  }
  .main-news__title,
  .main-urbannews__title {
    margin: 0;
  }
  .main-news li.main-urbannews__content a,
  .main-urbannews li.main-urbannews__content a {
    font-size: 13px;
  }
  .main-cooper ul {
    width: 280%;
  }
}

@media screen and (max-width: 959px) {
  .main-container {
    width: 700px;
  }
  .main-container-content {
    width: 700px;
  }
  .main-container-banner {
    width: 400px;
  }
  .main-container__slide {
    width: 2000px;
  }
  .main-container__slide li a {
    height: 227px;
  }
    .btn_box{
  	margin-top:-30px;
  }
  .left-btn,
  .right-btn,
  .pause,
  .play{
  	width:15px;
  	height:15px;
  }
  .btn_box li{
  	width:35px;
  	height:30px;
  }
  .banner {
    width: 300px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .banner a {
    width: 95px;
    height: 112px;
    margin: 0;
  }
  .banner > div > div {
    width: 95px;
    height: 110px;
  }
  .mainBotton {
    width: 700px;
  }
  a.main-img-rayer {
    height: 150px;
    width: 226px;
  }
  .main-cooper ul {
    width: 275%;
  }
  .main-news,
  .main-urbannews {
    width: 230px;
    height: 150px;
    padding: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-news li,
  .main-urbannews li {
    line-height: 1.3;
  }
  .main-news__title .title-text,
  .main-urbannews__title .title-text {
    font-size: 18px;
  }
  .main-news li.main-urbannews__content a,
  .main-urbannews li.main-urbannews__content a {
    font-size: 13px;
  }
  .main-regeneration {
    width: 233px;
    height: 150px;
  }
  .ex-loading img{
		display:block;
		margin:250px auto;
		width:600px;
		height:200px;
	}
	.main_modal {
		display: none;
	}
}

@media screen and (max-width: 767px) {
  .mainBotton {
    width: 360px;
  }
  .main-cooper ul li a {
    width: 200px;
  }
  .main-container {
    width: 100%;
    margin: 12px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .main-container__slide {
    width: 1800px;
  }
  .main-container-banner {
    width: 360px;
    margin: 0 auto;
    overflow: hidden;
  }
  .main-container__slide li a {
    width: 360px;
    height: 230px;
    margin: 0 auto;
  }
  .banner {
    width: 360px;
  }
  .banner a {
    width: 100%;
    height: 154px;
  }
  .banner > div > div {
    width: 100%;
    margin: 0 auto;
    height: 154px;
  }
  .banner a {
    margin: 0;
  }
  .main-container-content {
    width: 360px;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-container-image {
    width: 360px;
    height: 300px;
    background-size: contain;
  }
  .main-news,
  .main-urbannews {
    width: 100%;
    margin-top: 15px;
  }
  .main-cooper ul {
    width: 755%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .main-regeneration {
    margin-top: 15px;
    width: 100%;
    height: auto;
  }
  .main-regeneration,
  a.main-img-rayer {
    width: 100%;
    height: 242px;
  }
  .up {
    margin-bottom: 5px;
  }
  .mainBotton {
    margin-top: 35px;
  }

}
