@charset "utf-8";

@media screen and (max-width: 1300px) {
  .myPageBox {
    width: 1000px;
  }

  .myPageBox .myPageBox__basic {
    width: 500px;
    height: 500px;
  }

  .ma__title {
    font-size: 20px;
    margin: 15px;
  }

  .myPageBox .myPageBox__option {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .myPageBox {
    width: 780px;
  }

  .myPageBox .myPageBox__basic {
    width: 450px;
    height: 450px;
  }

  .ma__title {
    font-size: 20px;
    margin: 15px;
  }

  .myPageBox .myPageBox__option {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 767px) {
  .myPageBox {
    width: 360px;
    display: flex;
    flex-direction: column;
  }

  .myPageBox .myPageBox__basic {
    width: 340px;
    height: 340px;
  }

  .ma__title {
    font-size: 20px;
  }

  .myPageBox .myPageBox__option {
    width: 340px;
    height: 450px;
    margin: 15px;
  }

  .ma__infoArea div:nth-child(n + 1):nth-child(-n + 4) div:first-child {
    font-weight: 600;
    width: 100px;
  }
  .ma__infoArea div {
    font-size: 14px;
  }
}
