/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@media screen and (max-width: 425px) {
  .nm34-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .nm34-content-img-box {
    width: 100%;
    height: 340px;
    position: relative;
    margin-bottom: 30px;
  }

  .nm34-imgbox {
    height: 220px;
  }

  .nm34-imgbox-title {
    font-size: 15px;
  }

  .nm34-imgbox-date,
  .nm34-imgbox-view {
    font-size: 13px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .nm34-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .nm34-content-img-box {
    width: 100%;
    height: 330px;
    position: relative;
    margin-bottom: 30px;
  }

  .nm34-imgbox {
    height: 205px;
  }

  .nm34-imgbox-title {
    font-size: 16px;
  }

  .nm34-imgbox-date,
  .nm34-imgbox-view {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .nm34-content {
    -ms-grid-columns: 48% 4% 48%;
    grid-template-columns: 48% 48%;
    -ms-grid-rows: auto 30px auto;
    grid-template-rows: auto auto;
    grid-gap: 30px 4%;
  }
  .nm34-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .nm34-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .nm34-content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .nm34-content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .nm34-content-img-box {
    width: 100%;
    height: 340px;
  }

  .nm34-imgbox {
    height: 215px;
  }

  .nm34-imgbox-title {
    font-size: 18px;
  }

  .nm34-imgbox-date,
  .nm34-imgbox-view {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
}
