@media screen and (max-width: 767px) {
  .nm22-title-style {
    font-size: 16px;
  }
  .nm22-content-img__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 356px;
  height: 334px;
  background-image: url("/assets/images/image/sub-nm0422-01.png");
  border: 10px solid #5ac352;
  margin-bottom: 120px;
}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
}

@media screen and (min-width: 960px) {
}
