@media screen and (max-width: 767px) {
  .nm34-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .nm34-content-img-box {
    margin:0 auto;
    margin-bottom: 25px;
    border: 1px solid #d5d5d5;
    width: 339px;
    height: 380px;
  }
	.nm34-imgbox {
	  width: 338px;
	  height: 222px;
	}
  .nm34-imgbox-title {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nm34-imgbox-date {
    font-size: 14px;
    color: #828282;
  }

  .nm34-imgbox-view {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
}

@media screen and (min-width: 960px) {
}
