@media screen and (max-width: 767px) {
  .nm81-title-style-01 {
    font-size: 16px;
    color: #237d3a;
  }

  /* 이미지 스타일 */
  .nm81-content-img__box {
    background-image: url(../images/image/nm1280/sub-nm1281-01-01.png);
    background-repeat: no-repeat;
    width: 394px;
    height: 374px;
    border: 10px solid #62bdd7;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-nm1281-01-02 {
    width: 239px;
    height: 52px;
    position: absolute;
    top: 65px;
  }

  .nm81-imgbox-title {
    position: relative;
    top: -15px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  .nm81-imgbox-title2 {
    position: absolute;
    bottom: 140px;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
  }

  .nm81-imgbox-button {
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    outline: none;
    border: 0px;
    width: 113px;
    height: 33px;
    background-color: #62bdd7;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
}

@media screen and (min-width: 960px) {
}
