@charset "utf-8";

.nm23-title-style-01 {
  margin: 30px 0 20px;
  font-size: 30px;
  font-weight: bold;
  color: #237d3a;
}

.nm23-list-title {
  margin: 70px 0 30px;
  font-size: 26px;
  font-weight: bold;
  color: #f18d00;
  margin-bottom: 20px;
}

.nm23-list-title2 {
  margin: 70px 0 30px;
  font-size: 26px;
  color: #f18d00;
}

.nm23-list-title2 span {
  color: #585858;
}

.nm23-list-style {
  font-size: 22px;
  line-height: 2.5rem;
  padding-left: 20px;
  color: #3a3a3a;
}

.nm23-dotlist-style {
  font-size: 22px;
  font-weight: bold;
  line-height: 2.5rem;
  padding-left: 20px;
  color: #237d3a;
}

.nm23-dotlist-style span {
  color: #3a3a3a;
}

.nm23-barlist-style {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 2.5rem;
  color: #3a3a3a;
}

.nm23-table-style {
  font-size: 20px;
  line-height: 2rem;
}

.nm23-table-style tr {
  border-bottom: 1px solid #e5e5e5;
  height: 80px;
}

.nm23-table-style tr th {
  width: 20%;
  border-right: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  font-size: 22px;
  color: #f18d00;
  vertical-align: middle;
}

.nm23-table-style tr:first-child {
  border-top: 1px solid #8d8d8d;
}

.nm23-table-style tr td {
  padding: 20px;
  vertical-align: middle;
}

.table-middle {
  padding-right: 20px;
  border-right: 1px solid #e5e5e5;
}

.nm23-table-style2 {
  margin-top: 45px;
  width: 100%;
}

.nm23-table-style2 tr:first-child {
  border-top: 1px solid #8d8d8d;
}

.nm23-table-style2 tr {
  border-bottom: 1px solid #e5e5e5;
}

.nm23-table-style2 tr th {
  width: 20%;
  height: 80px;
  font-size: 22px;
  font-weight: bold;
  background-color: #fff3e1;
  border-right: 1px solid #e5e5e5;
  vertical-align: middle;
}

.nm23-table-style2 tr td {
  width: 60%;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 20px;
}

/* 제1기 도시재생하교 */
.nm23-content-2 {
  margin-top: 130px;
}

.nm23-title3 {
  font-size: 26px;
  color: #237d3a;
  margin-bottom: 40px;
}

.nm23-title3 span {
  color: #585858;
}

.nm23-table-style3 {
  margin-bottom: 30px;
  width: 100%;
}

.nm23-table-style3 tr {
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
}

.nm23-table-style3 tr:first-child {
  border-top: 1px solid #8d8d8d;
}

.nm23-table-style3 tr th {
  width: 20%;
  background-color: #f5f5f5;
  color: #f18d00;
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
}

.nm23-table-style3 tr td {
  width: 60%;
  font-size: 20px;
  line-height: 2.5rem;
  color: #2f2f2f;
  padding: 20px;
  vertical-align: middle;
}

.nm23-imgbox {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.nm23-imgbox li {
  margin-right: 15px;
}

.nm23-imgbox li:last-child {
  margin-right: 0px;
}

.sub-nm0523-02-01 {
  width: 395px;
  height: 290px;
}

/* 제2기 도시재생학교 */
.nm23-title4 {
  font-weight: bold;
  font-size: 26px;
  color: #f18d00;
  margin-bottom: 45px;
}

.nm23-title4 span {
  color: #585858;
}

/* 제3기 도시재생학교 */

/* 제4기 도시재생학교 */
.nm23-table-style3-01 {
  margin-bottom: 145px;
}

/* 제5기 도시재생학교 */

/* 제6기 도시재생학교 */
.nm23-imgbox2 {
  display: flex;
  flex-direction: roe;
  justify-content: start;
}

/* 찾아가는 주민설명회(2019) */
.nm23-imgtable-img {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.nm23-imgtable-img li {
  margin-right: 45px;
}

.nm23-imgtable-img li:nth-child(2n) {
  margin-right: 0px;
}

.sub-nm0523-02-14 {
  width: 579px;
  height: 409px;
}

.nm23-imgtable-des {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  color: #4e4e4e;
}

.nm23-table-style4 {
  width: 100%;
  margin-top: 90px;
}

.nm23-table-style4 tr {
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
}

.nm23-table-style4 tr:first-child {
  border-top: 1px solid #8d8d8d;
}

.nm23-table-style4 tr th {
  width: 20%;
  background-color: #f5f5f5;
  color: #46a9c6;
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
}

.nm23-table-style4 tr td {
  color: #2f2e2e;
  font-size: 20px;
  vertical-align: middle;
  padding: 20px;
}

.nm23-dotlist-style2 li {
  font-size: 20px;
  line-height: 2.5rem;
}

.nm23-dotlist-style2-1 li:last-child {
  padding-left: 15px;
}

.nm23-imgtable-img2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  text-align: center;
}

.nm23-imgtable-img2 li {
  margin-right: 80px;
}

.nm23-imgtable-img2 li:last-child {
  margin-right: 0px;
}

.nm23-imgtable-img2 li p {
  margin-top: 20px;
  font-size: 18px;
  color: #4e4e4e;
}

.sub-nm0523-02-16 {
  width: 429px;
  height: 322px;
}

/* 묵2동 장미학교(2019) */
.nm23-list-title3 {
  font-size: 26px;
  color: #ff5454;
  margin-bottom: 30px;
}

.nm23-dotlist-style3 {
  font-size: 20px;
  line-height: 2.5rem;
  padding-left: 20px;
  margin-bottom: 130px;
}

.nm23-list-title4 {
  font-size: 26px;
  color: #ff5454;
  margin-bottom: 40px;
}

.nm23-list-title4 span {
  color: #585858;
}

.nm23-table-style5 {
  width: 100%;
  margin-bottom: 150px;
}

.nm23-table-style5 tr {
  border-bottom: 1px solid #e5e5e5;
}

.nm23-table-style5 tr:first-child {
  border-top: 1px solid #8d8d8d;
}

.nm23-table-style5 tr th {
  width: 20%;
  height: 80px;
  background-color: #f5f5f5;
  border-right: 1px solid #e5e5e5;
  color: #ff5454;
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
}

.middle-title2 {
  width: 25%;
  border-right: 1px solid #e5e5e5;
  text-align: center;
}

.nm23-table-style5 tr td {
  font-size: 20px;
  line-height: 2.5rem;
  color: #2f2f2f;
  vertical-align: middle;
  padding: 20px;
}

.nm23-table-style5-2 {
  margin-bottom: 40px;
}

.nm23-table5-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
}

.nm23-table5-img li {
  text-align: center;
  margin-right: 5px;
}

.nm23-table5-img li:last-child {
  margin-right: 0px;
}

.sub-nm0523-02-18 {
  width: 295px;
  height: 219px;
}

.nm23-table5-img2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.nm23-table5-img2 li {
  margin-right: 5px;
}

.nm23-table-img2 li:last-child {
  margin-right: 0px;
}

.sub-nm0523-02-26 {
  width: 295px;
  height: 219px;
}
