@media screen and (max-width: 767px) {
  .nm23-select ul {
    width: 100%;
  }

  .nm23-select ul li {
    font-size: 18px;
    line-height: 45px;
  }

  .nm23-title-style-01 {
    font-size: 18px;
  }

  .nm23-list-title,
  .nm23-list-title-1 {
    font-size: 20px;
  }

  .nm23-list-style,
  .nm23-dotlist-style,
  .nm23-barlist-style,
  .nm23-table-style tr th,
  .nm23-table-style2 tr th {
    font-size: 16px;
  }

  .nm23-table-style,
  .nm23-table-style2 tr td {
    font-size: 14px;
  }

  /* 도시재생힉교 */
  .nm23-title3,
  .nm23-title4 {
    font-size: 20px;
  }

  .nm23-table-style3 tr th {
    font-size: 16px;
  }

  .nm23-table-style3 tr td {
    font-size: 14px;
  }

  .nm23-imgbox {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 240px;
  }

  .sub-nm0523-02-01 {
    width: 290px;
    height: 237px;
  }

  /* 찾아가는 주민설명회(2019) */
  .nm23-list-title2 {
    font-size: 20px;
  }

  .nm23-imgtable-des,
  .nm23-imgtable-img2 li p {
    font-size: 12px;
  }

  .nm23-table-style4 tr th {
    font-size: 16px;
  }

  .nm23-table-style4 tr td,
  .nm23-dotlist-style2 li {
    font-size: 14px;
  }

  .nm23-imgtable-img {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 325px;
  }

  .sub-nm0523-02-14 {
    width: 409px;
    height: 324px;
  }

  .nm23-imgtable-img2 {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 302px;
  }

  .sub-nm0523-02-16 {
    width: 322px;
    height: 268px;
  }

  /* 묵2동 장미학교(2019) */
  .nm23-list-title4,
  .nm23-list-title5 {
    font-size: 20px;
  }

  .nm23-dotlist-style3,
  .nm23-table-style5 tr td {
    font-size: 14px;
  }

  .nm23-table-style5 tr th {
    font-size: 16px;
  }

  .middle-title2 {
    width: 26%;
  }

  .nm23-table5-img {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 182px;
  }

  .sub-nm0523-02-18 {
    width: 219px;
    height: 181px;
  }

  .nm23-table5-img2 {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 185px;
  }

  .sub-nm0523-02-22 {
    width: 219px;
    height: 181px;
  }

  .nm23-table5-img3 {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 182px;
  }

  .sub-nm0523-02-26 {
    width: 219px;
    height: 181px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .nm23-select ul {
    width: 100%;
  }

  .nm23-select ul li {
    font-size: 20px;
    line-height: 55px;
  }

  .nm23-title-style-01 {
    font-size: 20px;
  }

  .nm23-list-title,
  .nm23-list-title-1 {
    font-size: 22px;
  }

  .nm23-list-style,
  .nm23-dotlist-style,
  .nm23-barlist-style,
  .nm23-table-style tr th,
  .nm23-table-style2 tr th {
    font-size: 18px;
  }

  .nm23-table-style,
  .nm23-table-style2 tr td {
    font-size: 16px;
  }

  .table-middle {
    width: 30%;
  }

  /* 도시재생학교 */
  .nm23-title3,
  .nm23-table-style3 tr th {
    font-size: 18px;
  }

  .nm23-table-style3 tr td {
    font-size: 16px;
  }

  .nm23-imgbox {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 240px;
  }

  .sub-nm0523-02-01 {
    width: 290px;
    height: 237px;
  }

  .nm23-title4 {
    font-size: 22px;
  }

  /* 찾아가는 주민설명회(2019) */
  .nm23-list-title2 {
    font-size: 22px;
  }

  .nm23-imgtable-des,
  .nm23-imgtable-img2 li p {
    font-size: 14px;
  }

  .nm23-table-style4 tr th {
    font-size: 18px;
  }

  .nm23-table-style4 tr td,
  .nm23-dotlist-style2 li {
    font-size: 16px;
  }

  .nm23-imgtable-img {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 325px;
  }

  .sub-nm0523-02-14 {
    width: 409px;
    height: 324px;
  }

  .nm23-imgtable-img2 {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 302px;
  }

  .sub-nm0523-02-16 {
    width: 322px;
    height: 268px;
  }

  /* 묵2동 장미학교(2019) */
  .nm23-list-title4,
  .nm23-list-title5 {
    font-size: 22px;
  }

  .nm23-dotlist-style3,
  .nm23-table-style5 tr td {
    font-size: 16px;
  }

  .nm23-table-style5 tr th {
    font-size: 18px;
  }

  .middle-title2 {
    width: 26%;
  }

  .nm23-table5-img {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 182px;
  }

  .sub-nm0523-02-18 {
    width: 219px;
    height: 181px;
  }

  .nm23-table5-img2 {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 185px;
  }

  .sub-nm0523-02-22 {
    width: 219px;
    height: 181px;
  }

  .nm23-table5-img3 {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 182px;
  }

  .sub-nm0523-02-26 {
    width: 219px;
    height: 181px;
  }
}

@media screen and (min-width: 960px) {
}
