@charset "UTF-8";

.subpage {
  width: 100%;
}
.sub-container {
  width: 70%;
  margin: 50px auto;
}
.subHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
}
.sub1-main {
  display: none;
}
.subTitle {
  font-size: 36px;
  font-weight: bold;
}
.bread {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: #707070;
}
.bold {
  font-weight: bold;
}
.sub-main-title {
  font-size: 28px;
  color: #f18d00;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 70px;
}
.sub1-main-content {
  margin: 100px auto;
}
.sub-illu-img {
  display: block;
  width: 94%;
  height: 448px;
  margin: 0 auto;
  background-image: url("/assets/images/image/sub-ill-banner.png");
}
.sub1-main-content p {
  margin: 10px;
  font-size: 20px;
  text-align: center;
  color: #707070;
}
.goal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sub-goal {
  width: 10%;
  height: 90px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 88px;
  text-align: center;
  background-color: #f18d00;
}
.sub-goal-content {
  width: 85%;
  height: 80px;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
  color: #f18d00;
  text-align: center;
  border: 5px solid #f18d00;
}
.vision {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sub-vision {
  width: 10%;
  height: 98px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 88px;
  text-align: center;
  background-color: #227c39;
}
.sub-vision-content {
  width: 85%;
  height: 90px;
  line-height: 1.7;
  border: 5px solid #227c39;
  font-size: 28px;
  font-weight: bold;
  color: #227c39;
  text-align: center;
}
.sub-vision-none {
  width: 10%;
  height: 98px;
  font-size: 28px;
  font-weight: bold;
  line-height: 88px;
  text-align: center;
}
.sub-vision-content-desc {
  font-size: 16px;
  color: #707070;
  text-align: center;
  font-weight: normal;
}
.sub-main-handimg {
  display: block;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  margin-top: 200px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_sub_01.png");
}
.propel-title {
  font-size: 36px;
  color: #ffffff;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  background-color: #373737;
  width: 490px;
  height: 54px;
  border-radius: 50px;
}
.orange {
  color: #ffeba6;
}
.sub-main-propel:after {
  content: "";
  z-index: -3;
  display: block;
  position: absolute;
  top: 2915px;
  width: 70%;
  height: 170px;
  border: 1px solid #dedede;
  border-radius: 50px;
}
.propel-content {
  margin-top: 50px;
  text-align: center;
  line-height: 1.6;
  color: #585858;
}
.sub-main-propel {
  margin-bottom: 150px;
}

/* sub1-2 */
.sub-plan {
  width: 100%;
}
.sub-plan-table {
  width: 100%;
  margin: 0 auto;
}
.sub-plan-table thead {
  border-top: 1px solid black;
}
.sub-plan-table thead tr th {
  font-size: 20px;
}
.sub-plan-table tbody tr td {
  font-size: 16px;
}
.sub-plan-table thead tr th,
.sub-plan-table tbody tr td {
  text-align: center;
  color: #363636;
  font-weight: normal;
  align-items: center;
  border-right: 1px solid #dedede;
}
.sub-plan-table thead tr th:first-child {
  width: 10%;
}
.sub-plan-table thead tr th:nth-child(n + 2):nth-child(-n + 6) {
  width: 19%;
}
.sub-plan-table tbody tr p {
  line-height: 1.5;
}
.sub-plan-table thead tr,
.sub-plan-table tbody tr {
  line-height: 45px;
}
.sub-plan-table thead tr th.last,
.sub-plan-table tbody tr td.last {
  border-right: none;
}
.table-orangetext {
  color: #ea8c07;
}
.table-sky {
  background-color: #eaf5f9;
}
.table-orange {
  background-color: #ffefd5;
}
.table-yellow {
  background-color: #fffdd6;
}
.table-caption {
  font-size: 18px;
  color: #585858;
  margin-top: 20px;
}
.sub-history {
  width: 100%;
  margin: 0 auto;
}
.gray-line {
  z-index: -3;
  position: absolute;
  width: 0px;
  height: 700px;
  margin-left: 55px;
  margin-top: 10px;
  border-left: 5px solid #e4e4e4;
}
.sub-history__year {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  color: #f18d00;
  font-weight: bold;
  border: 5px solid #f18d00;
  border-radius: 100%;
  background-color: #ffffff;
}
.sub-history-line {
  position: absolute;
  width: 63%;
  height: 5px;
  margin-top: -55px;
  background-color: #f18d00;
  margin-left: 110px;
}
.sub-history-content ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
  font-size: 24px;
  margin-bottom: 20px;
}
.sub-history-content ul li:first-child {
  margin: 0px 50px;
  font-weight: bold;
}
.sub-history-content ul li:last-child {
  color: #363636;
}
.sub-history__year-green {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #227c39;
  border: 5px solid #227c39;
  background-color: #ffffff;
  border-radius: 100%;
}
.sub-history-line-green {
  position: absolute;
  width: 63%;
  height: 5px;
  margin-top: -55px;
  background-color: #227c39;
  margin-left: 110px;
}
.sub-status-title{
	font-size: 22px;
	color:#545454;
	font-weight: normal;
	text-indent: 20px;
	line-height: 1.7;
}
.sub-status-img {
  margin: 0 auto;
}
