@charset "UTF-8";

.nm34-page-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}

.nm34-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 2% 32% 2% 32%;
  grid-template-columns: 32% 32% 32%;
  -ms-grid-rows: auto 30px auto;
  grid-template-rows: auto auto;
  grid-gap: 30px 2%;
  width: 100%;
}

.nm34-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nm34-content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.nm34-content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.nm34-content > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.nm34-content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.nm34-content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.nm34-content-img-box {
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 414px;
  position: relative;
 box-sizing:border-box;
}

.nm34-imgbox {
  width: 100%;
  height: 260px;
  cursor: pointer;
}

.nm34-imgbox-con {
  padding: 22px 18px;
}

.nm34-imgbox-title {
  font-size: 22px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #220f1d;
}

.nm34-imgbox-date {
  font-size: 20px;
  color: #767a86;
  padding-top: 15px;
  font-weight: 400;
}

.nm34-imgbox-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 18px;
  color: #212121;
}

.nm34-imgbox-view-span {
  width: 50%;
}

.nm34-imgbox-view span:nth-child(2n) {
  color: #fb3a87;
}

.nm34-imgbox-view span > span {
  color: #3aa292;
}
