@media screen and (max-width: 767px) {
  .nm62-title-style-01 {
    font-size: 20px;
  }

  .nm62-title-style-02 {
    font-size: 18px;
  }

  .nm62-title-style-03 {
    font-size: 18px;
  }

  .nm62-title-style-04 {
    font-size: 16px;
  }

  .nm62-desc-style-01 {
    font-size: 16px;
  }

  /* 각 이미지 사이즈 */
  .nm62-content-img__box .nm62-content-img-01-01,
  .nm62-content-img__box .nm62-content-img-01-02,
  .nm62-content-img__box .nm62-content-img-01-03,
  .nm62-content-img__box .nm62-content-img-01-04 {
    width: 100%;
    height: auto;
  }
    .nm62-content-img__box .nm62-content-img-01-04 {
    width: 260px;
    height: 225px;
  }
	.nm62-list-style-image {
		display:block;
	    width: 80%;
	}

 .nm62-content-img__box .nm62-content-img-01-05 {
   width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .nm62-content-img__box .nm62-content-img-01-09 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-01-10 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .nm62-content-img__box .nm62-content-img-01-14 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .nm62-content-img__box .nm62-content-img-02-01,
  .nm62-content-img__box .nm62-content-img-02-02,
  .nm62-content-img__box .nm62-content-img-02-03,
  .nm62-content-img__box .nm62-content-img-02-04  {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-03-01 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-04-01,
  .nm62-content-img__box .nm62-content-img-04-02,
  .nm62-content-img__box .nm62-content-img-04-03 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-05-01 {
    width: 100%;
    height: auto;
  }

  img.nm62-content-img-05-02 {
    width: 208px;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-06-01 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-07-01 {
    width: 100%;
    height: auto;
  }

  /* 표 스타일 */
  .nm62-tbl-style-01 > ul > li:nth-child(1) {
    font-size: 16px;
  }

  .nm62-tbl-style-01 > ul > li:nth-child(2) {
    font-size: 14px;
  }

  .nm62-tbl-style-01 > ul > li > p {
    font-size: 14px;
  }

  .nm62-tbl-style-01 > ul > li > span {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 10px;
    color: #f18d00;
  }

  .nm62-tbl-style-01-02 > ul > li:nth-child(1) {
    font-size: 16px;
  }

  .nm62-tbl-style-01-02 > ul > li:nth-child(2) {
    font-size: 14px;
  }

  .nm62-tbl-style-02 ul li {
    font-size: 12px;
  }

  .nm62-tbl-style-02 ul:first-child li,
  .nm62-tbl-style-02 ul li:first-child {
    font-size: 14px;
  }

  .nm62-list-style-dot {
    font-size: 14px;
  }

  .nm62-list-style-dot2 li {
    font-size: 8px;
  }

  .nm62-list-style-dot3 li {
    font-size: 12px;
  }

  /* 표 설정 */
  .nm62-list-style-image.grid-one-by-one {
    grid-template-columns: 314px;
  }

  .nm62-list-style-image.grid-one-by-one2 {
    grid-template-columns: 315px;
  }

  .nm62-list-style-image.grid-one-by-two {
    display: flex;
    flex-direction: column;
    grid-template-columns: 170px 170px;
  }

  .nm62-list-style-image.nm62-list-style-image.grid-one-by-two2
    > li:last-child {
    font-size: 8px;
  }

  .nm62-list-style-image.grid-two-by-two {
    grid-template-columns: 206px 206px;
    grid-gap: 10px 10px;
  }

  .nm62-list-style-image.grid-two-by-two2 {
    grid-template-columns: 168px 168px;
    grid-gap: 10px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.nm62-title-style-01 {
    font-size: 20px;
  }

  .nm62-title-style-02 {
    font-size: 18px;
  }

  .nm62-title-style-03 {
    font-size: 18px;
  }

  .nm62-title-style-04 {
    font-size: 16px;
  }

  .nm62-desc-style-01 {
    font-size: 16px;
  }

  /* 각 이미지 사이즈 */
  .nm62-content-img__box .nm62-content-img-01-01,
  .nm62-content-img__box .nm62-content-img-01-02,
  .nm62-content-img__box .nm62-content-img-01-03,
  .nm62-content-img__box .nm62-content-img-01-04 {
    width: 100%;
    height: auto;
  }
    .nm62-content-img__box .nm62-content-img-01-04 {
    width: 260px;
    height: 225px;
  }
	.nm62-list-style-image {
		display:block;
	    width: 80%;
	}

 .nm62-content-img__box .nm62-content-img-01-05 {
   width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .nm62-content-img__box .nm62-content-img-01-09 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-01-10 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .nm62-content-img__box .nm62-content-img-01-14 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .nm62-content-img__box .nm62-content-img-02-01,
  .nm62-content-img__box .nm62-content-img-02-02,
  .nm62-content-img__box .nm62-content-img-02-03,
  .nm62-content-img__box .nm62-content-img-02-04  {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-03-01 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-04-01,
  .nm62-content-img__box .nm62-content-img-04-02,
  .nm62-content-img__box .nm62-content-img-04-03 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-05-01 {
    width: 100%;
    height: auto;
  }

  img.nm62-content-img-05-02 {
    width: 208px;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-06-01 {
    width: 100%;
    height: auto;
  }

  .nm62-content-img__box .nm62-content-img-07-01 {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 960px) {
}
