@charset "UTF-8";

.sub1-main-content {
  margin: 100px auto;
  width: 80%;
  border: 6px solid #f6e58d;
  padding: 14px 0;
}
.sub1-main-content div {
  width: 97%;
  margin: 0 auto;
  border: 1px solid #dedede;
  padding: 14px 0;
}
.sub-illu-img {
  display: block;
  width: 100%;
  height: 543px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-image: url("/assets/images/image/sub-ill-banner.png");
}
.sub1-main-content p {
  margin: 10px;
  font-size: 20px;
  text-align: center;
  color: #707070;
}
.goal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.sub-goal {
  width: 10%;
  height: 90px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 88px;
  text-align: center;
  background-color: #f18d00;
}
.sub-goal-content {
  width: 85%;
  height: 80px;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
  color: #f18d00;
  text-align: center;
  border: 5px solid #f18d00;
}
.vision {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.sub-vision {
  width: 10%;
  height: 100px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 98px;
  text-align: center;
  background-color: #227c39;
}
.sub-vision-content {
  width: 85%;
  height: 90px;
  line-height: 1.9;
  border: 5px solid #227c39;
  font-size: 28px;
  font-weight: bold;
  color: #227c39;
  text-align: center;
}
.sub-vision-none {
  width: 10%;
  height: 98px;
  font-size: 28px;
  font-weight: bold;
  line-height: 88px;
  text-align: center;
}
.sub-vision-content-desc {
  font-size: 20px;
  color: #707070;
  text-align: center;
  font-weight: normal;
}
.sub-main-handimg {
  display: block;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  margin-top: 110px;
  background-size: cover;
  background-image: url("/assets/images/icons/ico_sub_01.png");
}
.propel-title {
  font-size: 36px;
  color: #ffffff;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  background-color: #373737;
  width: 490px;
  height: 54px;
  border-radius: 50px;
  z-index:10;
  position:relative;
}

.propel-content {
  margin-top: -25px;
  text-align: center;
  line-height: 1.6;
  color: #585858;
  font-size: 20px;
  border: 1px solid #dedede;
  border-radius: 50px;
  padding:70px;
}
.sub-main-propel {
  margin-bottom: 150px;
}

/* sub1-2 */
.sub-plan {
  width: 100%;
}
.sub-plan-table {
  width: 100%;
  margin: 0 auto;
}
.sub-plan-table thead,
.sub-status-table thead {
  border-top: 1px solid black;
}
.sub-plan-table thead tr th,
.sub-status-table thead tr th {
  height: 70px;
  font-size: 20px;
  background: #f6f6f6;
}
.sub-plan-table tbody tr td,
.sub-status-table tbody tr td {
  font-size: 16px;
  height: 80px;
}
.sub-plan-table tbody tr:first-child td {
  height: 55px;
}
.sub-plan-table thead tr th,
.sub-plan-table tbody tr td {
  text-align: center;
  color: #363636;
  font-weight: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dbdbdb;
}
.sub-plan-table thead tr th:first-child,
.sub-status-table thead tr th:first-child {
  width: 10%;
}
.sub-plan-table thead tr th:nth-child(n + 2):nth-child(-n + 6) {
  width: 19%;
}
.sub-plan-table tbody tr p {
  line-height: 1.5;
}
.sub-plan-table thead tr th.last,
.sub-plan-table tbody tr td.last {
  border-right: none;
}
.table-caption {
  font-size: 18px;
  color: #585858;
  margin-top: 20px;
}
.sub-history {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 145px;
}
.gray-line {
  z-index: -3;
  position: absolute;
  width: 0px;
  height: 700px;
  margin-left: 55px;
  margin-top: 10px;
  border-left: 5px solid #e4e4e4;
}
.sub-history__year {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  color: #82c63f;
  font-weight: bold;
  border: 5px solid #82c63f;
  border-radius: 100%;
  background-color: #ffffff;
}
.sub-history-line {
  position: absolute;
  width: 68%;
  height: 5px;
  margin-top: -55px;
  background-color: #82c63f;
  margin-left: 110px;
}
.sub-history-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  margin-left: 100px;
  font-size: 24px;
  margin-bottom: 20px;
}
.sub-history-content ul li:first-child {
  margin: 0px 50px;
}
.sub-history-content ul li:last-child {
  color: #363636;
}
.sub-history__year-green {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #17b4ad;
  border: 5px solid #17b4ad;
  background-color: #ffffff;
  border-radius: 100%;
}
.sub-history-line-green {
  position: absolute;
  width: 68%;
  height: 5px;
  margin-top: -55px;
  background-color: #17b4ad;
  margin-left: 110px;
}
.sub-history__year-blue {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2572ba;
  border: 5px solid #2572ba;
  background-color: #ffffff;
  border-radius: 100%;
}
.sub-history-line-blue {
  position: absolute;
  width: 68%;
  height: 5px;
  margin-top: -55px;
  background-color: #2572ba;
  margin-left: 110px;
}
.sub-status-title {
  font-size: 22px;
  color: #545454;
  font-weight: normal;
  text-indent: 20px;
  line-height: 1.7;
}

.sub-status {
  width: 682px;
  margin: 60px auto;
}
.sub-status-table {
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
}
.sub-status-table thead tr th,
.sub-status-table tbody tr td {
  font-weight: normal;
  vertical-align: middle;
}
.sub-status-table tbody tr p {
  line-height: 1.5;
}
.sub-status-table thead tr th:nth-child(n + 2):nth-child(-n + 3) {
  width: 19%;
}
.sub-status-table thead tr th:last-child,
.sub-status-table tbody tr td:last-child {
  border-right: none;
}
.sub-status-table thead tr,
.sub-status-table tbody tr {
  line-height: 45px;
}
.sub-status-table thead tr th,
.sub-status-table tbody tr td {
  text-align: center;
  font-weight: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dbdbdb;
}
.sub-status-table tbody tr:last-child td {
  font-weight: bold;
}
.sub-status-table tbody tr:last-child td:first-child {
  background-color: #82c63f;
  color: #ffffff;
}
