@charset "UTF-8";

.nm020362-page-wrap {
  display: none;
}

.nm020362-title-style-01 {
  margin: 30px 0 20px;
  font-size: 26px;
  font-weight: 600;
  color: #237d3a;
}

.nm020362-title-style-02 {
  margin: 70px 0 30px;
  font-size: 24px;
  font-weight: 600;
  color: #585858;
}

.nm020362-title-style-02 span {
  color: #237d3a;
}

.nm020362-title-style-03 {
  margin: 50px 0 20px;
  font-size: 24px;
  font-weight: 600;
  color: #515677;
}

.nm020362-title-style-04 {
  margin: 50px 0 20px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #237d3a;
}

.nm020362-desc-style-01 {
  margin: 10px 0 20px;
  padding-left: 30px;
  font-size: 22px;
  font-weight: 500;
  color: #3a3a3a;
}

.nm020362-desc-style-01 span {
  color: #237d3a;
}

.nm020362-content-img__box {
  text-align: center;
}
.nm020362-title-sub {
  font-size: 20px;
  text-indent: 24px;
  margin-top: -16px;
  color: #585858;
}
/* 각 이미지 사이즈 */
.nm020362-content-img__box .nm020362-content-img-01-01 {
  width: 854px;
  height: 510px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-01-02 {
  width: 924px;
  height: 573px;
  margin-top: 15px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-01-03 {
  width: 1200px;
  height: 681px;
  margin-bottom: 50px;
}

.nm020362-content-img__box .nm020362-content-img-01-04 {
  width: 295px;
  height: 260px;
}

.nm020362-content-img__box .nm020362-content-img-01-05 {
  width: 298px;
  height: 206px;
}

.nm020362-content-img__box .nm020362-content-img-01-09 {
  width: 591px;
  height: 314px;
}

.nm020362-content-img__box .nm020362-content-img-01-10 {
  width: 289px;
  height: 168px;
}

.nm020362-content-img__box .nm020362-content-img-01-14 {
  width: 285px;
  height: 170px;
}

.nm020362-content-img__box .nm020362-content-img-02-01 {
  width: 642px;
  height: 426px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-02-02 {
  width: 560px;
  height: 293px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nm020362-content-img__box .nm020362-content-img-02-03 {
  width: 315px;
  height: 311px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nm020362-content-img__box .nm020362-content-img-02-04 {
  width: 316px;
  height: 311px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nm020362-content-img__box .nm020362-content-img-03-01 {
  width: 677px;
  height: 359px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-04-01 {
  width: 564px;
  height: 355px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-04-02 {
  width: 488px;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nm020362-content-img__box .nm020362-content-img-04-03 {
  width: 488px;
  height: 299px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nm020362-content-img__box .nm020362-content-img-05-01 {
  width: 584px;
  height: 378px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-05-02 {
  width: 315px;
  height: 208px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.nm020362-content-img__box .nm020362-content-img-06-01 {
  width: 642px;
  height: 426px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.nm020362-content-img__box .nm020362-content-img-07-01 {
  width: 596px;
  height: 381px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

/* 표 스타일 */
.nm020362-tbl-style-01 {
  margin: 30px 0 150px;
  width: 100%;
  border-top: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
}

.nm020362-tbl-style-01 > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.nm020362-tbl-style-01 > ul > li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  color: #237d3a;
  font-size: 22px;
  font-weight: 500;
  background: #f5f5f5;
}

.nm020362-tbl-style-01 > ul > li:nth-child(2) {
  padding: 20px 10px 20px 30px;
  font-size: 20px;
  color: #2f2e2e;
  width: calc(80% - 10px);
}

.nm020362-tbl-style-01 > ul > li > span {
  margin-left: 30px;
  color: #f18d00;
}

.nm020362-tbl-style-01 > ul > li > p {
  margin-top: 10px;
  font-size: 20px;
  color: #656565;
}

.nm020362-tbl-style-01-02 > ul > li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  color: #515677;
  font-size: 22px;
  font-weight: 500;
  background: #f5f5f5;
}

.nm020362-tbl-style-01-02 > ul > li:nth-child(2) {
  padding: 20px 10px 20px 30px;
  font-size: 20px;
  color: #2f2f2f;
  width: calc(80% - 10px);
}

.nm020362-tbl-style-02 {
  border: 0.5px solid #dbdbdb;
  margin-bottom: 80px;
}

.nm020362-tbl-style-02 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nm020362-tbl-style-02 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% / 6);
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  color: #585858;
  border: 0.5px solid #dbdbdb;
}

.nm020362-tbl-style-02 ul:first-child li,
.nm020362-tbl-style-02 ul li:first-child {
  font-size: 20px;
  color: #585858;
  background: #f6f6f6;
}

.nm020362-tbl-style-02 > ul > li.col-span-2 {
  width: calc(100% / 6 * 2);
}

.nm020362-list-style-dot {
  font-size: 20px;
  color: #2f2e2e;
}

.nm020362-list-style-dot li {
  padding: 6px 0;
}

.nm020362-list-style-dot-01 {
  line-height: 36px;
}

.nm020362-list-style-dot2 li {
  font-size: 14px;
  color: #393939;
}

.nm020362-list-style-dot3 li {
  font-size: 18px;
  margin-top: 0.5rem;
  padding-left: 10px;
  color: #656565;
}

.nm020362-list-style-image {
  display: -ms-grid;
  display: grid;
  width: 80%;
}

.nm020362-list-style-image.grid-one-by-one {
  -ms-grid-columns: 591px;
  grid-template-columns: 591px;
  margin-top: 20px;
}

.nm020362-list-style-image.grid-one-by-one2 {
  -ms-grid-columns: 315px;
  grid-template-columns: 315px;
  margin-top: 20px;
}
.nm020362-list-style-image.grid-one-by-two {
  -ms-grid-columns: 285px 285px;
  grid-template-columns: 285px 285px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nm020362-list-style-image.nm020362-list-style-image.grid-one-by-two2
  > li:last-child {
  font-size: 14px;
  color: #393939;
}

.nm020362-list-style-image.grid-two-by-two {
  -ms-grid-columns: 289px 40px 289px;
  grid-template-columns: 289px 289px;
  grid-gap: 15px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nm020362-list-style-image.grid-two-by-two2 {
  -ms-grid-columns: 289px 10px 289px;
  grid-template-columns: 289px 289px;
  grid-gap: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Enter your style code */
  .nm020362-list-style-image.grid-two-by-two li:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .nm020362-list-style-image.grid-two-by-two li:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-left: 20px;
  }
  .nm020362-list-style-image.grid-two-by-two li:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    margin-top: 20px;
  }
  .nm020362-list-style-image.grid-two-by-two li:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    margin-left: 20px;
    margin-top: 20px;
  }

  .nm020362-list-style-image.grid-two-by-two2 li:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .nm020362-list-style-image.grid-two-by-two2 li:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-left: 20px;
  }
  .nm020362-list-style-image.grid-two-by-two2 li:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    margin-top: 20px;
  }
  .nm020362-list-style-image.grid-two-by-two2 li:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    margin-left: 20px;
    margin-top: 20px;
  }

  .nm020362-list-style-image.grid-one-by-two li:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .nm020362-list-style-image.grid-one-by-two li:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
