@charset "UTF-8";

.nm62-page-wrap {
  display: none;
}

.nm62-content {
  margin-top: 50px;
}

/* 표 스타일 */
.nm62-tbl-style-01 {
  width: 100%;
  margin: 0 auto;
  color: #323232;
  border-top: 1px solid #353535;
}

.nm62-tbl-style-01 thead tr {
  background-color: #f6f6f6;
  font-size: 20px;
  font-weight: bold;
  line-height: 4rem;
  border-bottom: 1px solid #dddddd;
}

.nm62-tbl-style-01 tbody tr td {
  font-size: 18px;
  line-height: 2rem;
  border-bottom: 1px solid #dbdbdb;
}

.nm62-tbl-style-01 thead tr th,
.nm62-tbl-style-01 tbody tr td {
  border-right: 1px solid #dbdbdb;
}

.nm62-tbl-style-01 thead th:last-child,
.nm62-tbl-style-01 tbody tr td:last-child {
  border-right: none;
}

.nm62-tbl-style-01 thead tr td:first-child,
.nm62-tbl-style-01 tbody tr td:first-child {
  width: 20%;
}

.nm62-tbl-style-01 thead tr td:nth-child(2n),
.nm62-tbl-style-01 tbody tr td:nth-child(2n) {
  width: 25%;
}

.nm62-tbl-style-01 thead tr td:nth-child(3n),
.nm62-tbl-style-01 tbody tr td:nth-child(3n) {
  width: 55%;
}

.tbl-style-sec {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  vertical-align: middle;
}

.tbl-style-contitle {
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
  vertical-align: middle;
}

.tbl-style-contitle ul:nth-child(2n) {
  font-weight: normal;
  padding-left: 10px;
}

.tbl-style-conlist {
  vertical-align: middle;
  padding: 20px;
}

.tbl-style-conlist ul li {
  text-align: start;
  font-size: 18px;
}
