@charset "UTF-8";

.nm0363-page-wrap {
  display: none;
}

.nm0363-title-style-01 {
  margin: 50px 0 25px;
  font-size: 26px;
  font-weight: 600;
  color: #237d3a;
}

.nm0363-title-style-02 {
  margin: 70px 0 30px;
  font-size: 24px;
  font-weight: 600;
  color: #585858;
}

.nm0363-title-style-02 span {
  color: #237d3a;
}

.nm0363-content-img__box {
  text-align: center;
}

/* 각 이미지 사이즈 */
.nm0363-content-img__box .nm0363-content-img-01-01 {
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 43%;
  background-image: url("../images/image/sub-nm0363-01-01.png");
}

.nm0363-content-img__box .nm0363-content-img-02-01 {
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 54% 51%;
  background-image: url("../images/image/sub-nm0363-02-01.png");
}

.sub-nm0363-02-02 {
  width: 339px;
  height: 246px;
  margin-right: 10px;
}

.sub-nm03630-02-03 {
  width: 441px;
  height: 246px;
}

.nm0363-content-img__box .nm0363-content-img-02-04 {
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 54% 40%;
  background-image: url("../images/image/sub-nm0363-02-04.png");
}

.sub-nm0363-02-05 {
  width: 202px;
  height: 282px;
  margin-right: 10px;
}

.sub-nm0363-02-06 {
  width: 374px;
  height: 281px;
}

/* 표 스타일 */
.nm0363-tbl-style-01 {
  margin: 30px 0 50px;
  width: 100%;
}

.tbl-style-title {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  color: #237d3a;
  font-size: 22px;
  font-weight: bold;
  padding-left: 15px;
  line-height: 2.5rem;
}

.tbl-style-title li {
  padding: 8px 5px;
}

.tbl-style-con {
  color: #585858;
  font-size: 22px;
  padding: 25px 20px;
  line-height: 2.5rem;
}

.tbl-style-subcon {
  color: #585858;
  font-size: 20px;
}

.tbl-style-numcon {
  padding-bottom: 3rem;
  font-size: 22px;
  line-height: 2.5rem;
  border-bottom: 1px solid #f5f5f5;
}

.tbl-style-image1 {
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-self: start;
  padding: 30px 20px;
}

/* 조직구성 표 스타일 */
.nm0363-tbl-style-02 {
  width: 100%;
  margin: 40px auto 0;
  text-align: center;
  color: #585858;
  border-top: 1px solid #353535;
}

.nm0363-tbl-style-02 thead tr {
  background-color: #f6f6f6;
  font-size: 20px;
  font-weight: bold;
  line-height: 4rem;
  border-bottom: 1px solid #dddddd;
}

.nm0363-tbl-style-02 tbody,
.nm0363-tbl-style-02 tbody tr {
  font-size: 18px;
  line-height: 4rem;
  border-bottom: 1px solid #dbdbdb;
}

.nm0363-tbl-style-02 thead th,
.nm0363-tbl-style-02 tbody tr td {
  border-right: 1px solid #dbdbdb;
}

.nm0363-tbl-style-02 thead th:last-child,
.nm0363-tbl-style-02 tbody tr td:last-child {
  border-right: none;
}

.nm0363-tbl-style-02 thead tr td:first-child,
.nm0363-tbl-style-02 thead tr td:nth-child(2n),
.nm0363-tbl-style-02 tbody tr td:first-child,
.nm0363-tbl-style-02 tbody tr td:nth-child(2n) {
  width: 20%;
}

.nm0363-tbl-style-01 thead tr td:nth-child(3n),
.nm0363-tbl-style-02 tbody tr td:nth-child(3n) {
  width: 40%;
}
