@charset "UTF-8";

.nm34-page-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 25px;
}

.nm34-content {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto auto;
  grid-gap: 30px 2%;
  width: 100%;
}

.nm34-content-img-box {
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 414px;
  position: relative;
}

.nm34-imgbox {
  width: 100%;
  height: 260px;
}

.nm34-imgbox-con {
  padding: 22px 18px;
}

.nm34-imgbox-title {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #220f1d;
}

.nm34-imgbox-date {
  font-size: 20px;
  color: #767a86;
  padding-top: 15px;
  font-weight: 400;
}

.nm34-imgbox-view {
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 18px;
  color: #212121;
}

.nm34-imgbox-view-span {
  width: 50%;
}

.nm34-imgbox-view span:nth-child(2n) {
  color: #fb3a87;
}

.nm34-imgbox-view span > span {
  color: #3aa292;
}
