@charset "UTF-8";

.resultPw_title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5rem;
}

.resultPw_subtitle_wrap {
  margin-bottom: 1.5rem;
}

.resultPw_subtitle {
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.resultPw_subtitle_2 {
  font-size: 15px;
  color: #888;
}

.resultPw_com_warp {
  border: 1px solid #eee;
  border-top: 3px solid #3c7bb5;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.search_result li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.search_result li:last-child {
  margin-bottom: 0px;
}

.search_resultPw {
  width: 100%;
  max-width: 500px;
  padding: 8px 8px;
  outline: none;
  margin-left: 10px;
  border: 1px solid #dedede;
  box-sizing: border-box;
}

.result_btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reset_PW_btn {
  border: 2px solid #f9c32f;
  outline: none;
  width: 15%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffca38;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.password_validation {
  display: block;
  margin-left: 10px;
  line-height: 150%;
  font-size: 11px;
  vertical-align: -webkit-baseline-middle;
}
