@charset "UTF-8";

@media screen and (max-width: 1100px) {
	.sub-top-menu .top-menu__list.menu-two {
		grid-template-columns: 50% 50%;
	}
	
	.sub-top-menu .top-menu__list.menu-three {
		grid-template-columns: 100%;
	}
	
	.sub-top-menu .top-menu__list.menu-more {
		grid-template-columns: 50% 50%;
	}
}

@media screen and (max-width: 600px) {
	.sub-top-menu .top-menu__list.menu-two {
		grid-template-columns: 100%;
	}
	
	.sub-top-menu .top-menu__list.menu-more {
		grid-template-columns: 100%;
	}
}