@charset "UTF-8";

.ad0101-header {
	width : 100%;
	height:30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 50px;
}

.ad0101-header p {
	padding : 0px 30px;
	font-weight: 600;
}

.ad0101-paging {
	margin : 30px;
	display: flex;
	flex-direction: row;
}

.ad0101-paging li {
	margin : 0px 7px;
	padding : 3px;
	cursor: pointer;
}

