@charset "UTF-8";

.stis_one {
	width: 95%; 
	margin : 10px auto;
	margin-bottom: 80px;
}

.stis_one .stis_one__title{
	width: 100%;
	height: 30px;
	box-sizing : border-box;
	background-color: #555555;
	color : #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left:8px;
	justify-content: flex-start;
}

.stis__area .stis_one .stis_one__desc{
	display: flex;
	flex-direction: row;
}

.stis__area .stis_one .stis_one__desc .stis_one__desc__left,
.stis__area .stis_one .stis_one__desc .stis_one__desc__right{
	padding : 10px 20px;
}

.stis__area .stis_one .stis_one__desc .stis_one__desc__left{
	background-color: #e7e7e7;
	width: 150px;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
	border-bottom: 1px solid #fff;
}

.stis__area .stis_one .stis_one__desc .stis_one__desc__left p {
	margin-top : 5px;	
	
}

.stis__area .stis_one .stis_one__desc .stis_one__desc__right{
	border-bottom: 1px solid #e7e7e7;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;	
	
}


.stis__area .stis_one .stis_one__desc .stis_one__desc__right .stis_one__desc__right__detail{
	margin-left: 40px;
}


.desc__right__dateArea {
	margin-right: 15px;
}
.fa-calendar{
	margin-left:-25px;
	cursor: pointer;
}

.hasDatepicker{
	width:165px;
	height:28px;
	outline: none;
	cursor: pointer;
}
