@charset "UTF-8";


.board-search__area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-right:0px;
}
.board-search-type {
  position: relative;
  width: 119px;
  height: 100%;
  cursor: pointer;
}

.board-search-type::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  display: block;
  width: 0.5px;
  height: 31px;
  background: #d3d3d3;
}

.board-search-type .search-type__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 17px;
  height: 100%;
}

.board-search-type .search-type__box .fa {
  font-size: 14px;
}

.board-search-type .search-type__list {
  display: none;
  position: relative;
  left: -1px;
  top: 1px;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-top: none;
}

.board-search-type .search-type__list li {
  padding-left: 17px;
  height: 44px;
  line-height: 44px;
  background: #fff;
}

.board-search-type .search-type__list li.active,
.board-search-type .search-type__list li:hover {
  background: #f8f8f8;
}

.ad0101-header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  padding-top: 10px;
}

.ad0101-header p {
  padding: 0px 30px;
  font-weight: 600;
}

.ad0101-paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  font-size: 20px;
  margin-top: 20px;
}

.ad0101-paging li {
  margin: 0px 5px;
  padding: 8px;
  cursor: pointer;
}

.ad0101-paging-box {
  width: 100%;
  min-height: 70px;
}
.ad0101-content {
  width: 100%;
  height: 500px;
}

.ad0101-content table {
  width: 95%;
  margin: 10px auto;
  font-size: 16px;
  text-align: center;
}
.ad0101-content table thead {
  font-weight: bold;
  border-bottom: 2px solid #dedede;
  background-color: rgba(47, 132, 69, 0.9);
  color: #ffffff;
}

.ad0101-content table thead tr th,
.ad0101-content table tbody tr td {
  padding: 10px 20px;
}
.ad0101-content table tbody tr:nth-child(2n) td {
  background-color: rgba(47, 132, 69, 0.1);
}
.admin__area {
  display: flex;
  justify-content: flex-end;
  margin-right: 34px;
}
.admin__area input {
  width: 165px;
  border:1px solid #d5d5d5;
  border-left:0;
  border-right:0;
  padding-left:5px;
  outline: none;
}
.admin__area button {
  width: 70px;

  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f19d00;
  color: #fff;
  font-weight: bold;
}
