@charset "UTF-8";

.popup_area {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.popup_area .popup_area__title {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #555555;
  color: #ffffff;
}
.popup_area .popup_area__title p{
	margin-left:30px;
}

.popup_area .popup_area__desc {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.popup_area .popup_area__desc .popup_area__desc__data {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dedede;
}

.popup_area
  .popup_area__desc
  .popup_area__desc__data
  .popup_area__desc__subject {
  width: 200px;
  height: 350px;
  line-height: 300px;
  text-align: center;
  font-size: 18px;
  background-color: #e0ebff;
}

.popup_area
  .popup_area__desc
  .popup_area__desc__data
  .popup_area__desc__content {
  width: 1000px;
  height: 350px;
  line-height: 2.5;
  text-indent: 20px;
  box-sizing: border-box;
  padding-top: 10px;
}

.popup_area__desc__content__data {
  display: flex;
  flex-direction: row;
  width: 550px;
}
.popup_area__desc__content__data div:first-child {
  width: 200px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.popup_area__desc__content__data div input[type="text"] {
  width: 250px;
  height: 25px;
  outline: none;
  box-sizing: border-box;
  padding-left: 4px;
}
#popup-use {
  outline: none;
  width: 100px;
  height: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#popup-use:hover {
  box-shadow: 0px 2px 5px #c2c2c2;
}
.unUse {
  background-color: #f5e0ff;
}
.Use {
  background-color: #d476ff;
  color: #fff;
}
.popup_area__desc__content__data div input[type="file"] {
  outline: none;
  border:none;
  color:#777;
}
.popup_area__desc__content__data:last-child {
  justify-content: flex-end;
}
.popup_area__desc__content__data input[type="submit"] {
  background: #6a89cc;
  border: none;
  cursor: pointer;
  width: 80px;
  height: 33px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  margin-bottom: 10px;
}

.popup_area__desc__content__data div span {
	font-size: 10px;
	color : #777777;
}
