@charset "UTF-8";

.popup_area{
	width: 1200px;
	height: 440px;
	margin : 0 auto;
}

.popup_area .popup_area__title{
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #555555;
	color : #ffffff;
}


.popup_area .popup_area__desc{
	width : 1200px;
	display: flex;
	flex-direction: column;	
}

.popup_area .popup_area__desc .popup_area__desc__data {
	display: flex;
	flex-direction: row;	
}

.popup_area .popup_area__desc .popup_area__desc__data .popup_area__desc__subject{
	width : 200px;
	height: 150px;
	background-color: purple;
}


.popup_area .popup_area__desc .popup_area__desc__data .popup_area__desc__content{
	width : 1000px;
	height: 150px;
	background-color: brown;
	
}

.popup_area__desc__content__data{
	display: flex;
	flex-direction: row;
}