@charset "UTF-8";

.admin-box__header .header-logo__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 270px;
  height: 100%;
  background: #056a2e;
}

.admin-box__header .header-logo__box .header-logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 100%;
  color: #fff;
  font-size: 28px;
  background: #068238;
}

.admin-box__header .header-content__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 270px);
  height: 100%;
  background: rgba(47, 132, 69, 0.8);
}