@charset "UTF-8";

.admin-box__header .header-logo__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 273px;
  height: 100%;
  background: #056a2e;
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
}

.admin-box__header .header-logo__box .header-logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 210px;
  height: 100%;
  background: #068238;
}

.admin-box__header .header-logo__box .header-logo-text .header-link-logo {
  display: block;
  width: 210px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/commons/ftlogo.png");
}

.admin-box__header .header-logo__box .header-logo-text .header-link-out {
  position: absolute;
  left: 17px;
  color: #fff;
  font-size: 24px;
}

.admin-box__header .header-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 15px;
  width: calc(100% - 270px);
  height: 100%;
  background: rgba(47, 132, 69, 0.8);
}
