@charset "UTF-8";

.admin-box__header .header-logo__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 273px;
  height: 100%;
  background: #8e44ad;
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
}

.admin-box__header .header-logo__box .header-logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 210px;
  height: 100%;
  background: #9b59b6;
}

.admin-box__header .header-logo__box .header-logo-text .header-link-logo {
  display: block;
  width: 92%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  background-image: url("/assets/images/commons/ftlogo.png");
}

.admin-box__header .header-logo__box .header-logo-text .header-link-out {
  position: absolute;
  top: 50%;
  left: 17px;
  margin-top: -12px;
  color: #fff;
  font-size: 24px;
}

.admin-box__header .header-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 15px;
  width: calc(100% - 270px);
  height: 100%;
  background: rgba(155, 89, 182, 0.8);
}

.admin-box__header .header-content__box ul {
	display: flex;
	flex-direction: row;
	
}

.admin-box__header .header-content__box ul li {
	margin-left : 15px;
	color : #fff;
	font-weight: 600;
	font-size:14px;
	cursor: pointer;
}

.admin-box__header .header-content__box ul li:nth-child(n+1):nth-child(-n+2){
	background-color:#fff;
	border-radius:10px 10px 0px 0px;
    padding: 10px;
    margin-top: 11px;
    color:#0b62b4;
}

.admin-box__header .header-content__box ul li i{
	font-size: 18px;
	margin-right:5px;
	padding-top:14px;
}