@charset "UTF-8";
@import '../reset.css';
@import '../fonts.css';
@import './login.css';
@import './adminHeader.css';
@import './adminLeft.css';
@import './adminMain.css';
@import './adminFooter.css';

body {
  font-family: Seoulnamsan, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.admin-box {
	width: 100%;
	display: flex;
	flex-direction: column;
  background: #f3f3f3;
}

.admin-box .admin-box__header {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.admin-box .admin-box__main {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.admin-box .admin-box__main .admin-box__main__left {
	width: 270px;
	background: #fff;
}

.admin-box .admin-box__main .admin-box__main__container {
  width: calc(100% - 270px);
}

.admin-box .admin-box__main .admin-box__main__content {
	width: 100%;
	min-height: 490px;
	background: #fff;
}

.admin-box .admin-box__footer {
	width: 100%;
}

.login-data {
	width: 100%;
	display: flex;
	flex-direction: row;
}


.login-data .login-data__label {
	width: 100px;
	height: 20px;

}