@charset "UTF-8";

.rightArea {
  width: 95%;
  margin: 10px auto;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rightArea .rightArea__title {
  width: 100%;
  height: 35px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #707070;
  text-indent: 10px;
}

.rightArea .rightArea__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rightArea .rightArea__content .rightArea__content__left {
  width: 200px;
  height: 100px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-right: 1px solid #dedede;
}

.rightArea .rightArea__content .rightArea__content__right {
  width: 100%;
  height: 100px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
}
.rightArea__footer p{
	color:#707070;
	font-size: 14px;
	line-height: 1.4;
	text-indent: 10px;
}
.right__content__block{
	margin-top:10px;
}
.right__content__block select{
	outline:none;
	width:100px;
	height:30px;
}
.right__content__block__button input{
	margin:10px 0;
	margin-left: 86px;
}