@charset "UTF-8";

.login{
	width:100%;
	text-align:center;
}
.login img{
	width:320px;
	margin:50px;
}
.login-box{
	width:300px;
	margin:50px auto;
}
.login-box__top{
	font-size:30px;
	margin:50px;
}
.login-data__input{
	width:200px;
	height:30px;
	outline:none;
	border:none;
	border-bottom: 2px solid #f18d00;
	padding-left:4px;
	background-color: #dedede;
}